[2013-01-31 21:47] pilhuhn opened #1 "Authorinfo is incorrect for docbook backend"
I have this input:

[code]

asciidoc creates

[code]

(see the correct split into firstname and surname etc.

asciidoctor creates

[code]

[2013-02-02 13:29] #1 closed, assigned to mojavelinux

[2013-03-13 17:03] graphitefriction opened #3 "What, Why, and Backend in AsciiDoc new users guide"
As the goal of the new users guide is to be brief and to get them writing in AsciiDoc ASAP, I think most of the content prior to the Writing in AsciiDoc: First Steps section is just way too much backstory.

What do people think of removing most of that content and instead use it to create "What is AsciiDoc", "Why Use AsciiDoc", "How AsciiDoc Renders your Opus" guides?

[2013-03-13 17:10] graphitefriction opened #4 "Line wrap example in newbies guide wrong?"
I can't see a difference between the text written in AsciiDoc syntax to showcase wrapping and the rendered output. If I'm reading the example correctly, I think the output is supposed to be wrapped...but it's not. So either the example text is wrong or the explanation of the example is wrong.

From document:
In other words, you write AsciiDoc like you’re writing an e-mail.

Wrapping lines of text:

[2013-03-13 17:16] graphitefriction opened #5 "Can an article have multiple level 0 titles? Re: Newbies Guide clarification"
In the new users guide it says:

Section levels cannot be chosen arbitrarily. There are two rules you must follow:
1. A document can only have a single level 0 section (in addition to the document title) if the doctype is set to book (the default is article)

Does this mean that other doctypes can have multiple level 0 sections or can they have none?

[2013-03-17 16:18] #4 closed, assigned to nobody

[2013-03-19 00:51] mojavelinux opened #6 "Write a tutorial for how to blog with AsciiDoc and Awestruct"
Write a tutorial that covers how to write a blog entry in AsciiDoc for an Awestruct site*.

Here's a rough outline that identifies the scope of the tutorial:
- Motivation / vision (short and sweet)
  - Using a lightweight markup language makes it easy to focus on content and write
  - Preview on GitHub (don't need to build site just to see it)
  - Collaboration via pull requests
  - Can revise or

[2013-03-27 04:34] thesteve0 opened #7 "Why does your syntax guide not match the canonical guide on Asciidoc site?"
Your syntax guide is a subset of the canonical cheatsheet - http://powerman.name/doc/asciidoc.
For example, look at headers - you only seem to accept the

=== Header

style rather than

Header

[code]

[2013-03-27 04:54] #7 closed, assigned to nobody

[2013-04-17 23:34] graphitefriction opened #17 "Create a navigation toc for the quick reference guide"
After using the quick reference guide for myself, I realize it is long and scrolling up and down it looking for a specific tip gets tiring.

[2013-04-18 20:42] graphitefriction opened #19 "Add asciidoctor-maven-plugin documentation to website"
Transfer Asciidoctor Maven readme content to appropriate webpage

[2013-04-19 00:53] graphitefriction opened #21 "Add asciidoctor-gradle-plugin documentation to website"
Add content from the project's readme to the documentation website.

[2013-04-19 00:54] graphitefriction opened #22 "Add stylesheet factory documentation to website"
Pull the content from the stylesheet factory website into the documentation

[2013-04-24 23:25] #19 closed, assigned to graphitefriction

[2013-04-24 23:27] graphitefriction opened #26 "Add documentation about rendering output and backends"
Include updates per Asciidoctor 0.1.2

[2013-04-24 23:30] graphitefriction opened #27 "Add Installing the Toolchain documentation to the website"
Remove links to ReadME from documentation index
Will include instructions for both Asciidoctor, AsciiDoc, and a2x

[2013-04-24 23:32] graphitefriction opened #28 "Edit and recompile differences between Asciidoctor and AsciiDoc list"
Have difference as their own .adoc
Add new link to Docs index page

[2013-04-25 23:13] graphitefriction opened #31 "Installation Doc - first section AsciiDoc or Asciidoctor?"
In the installation guide, should the Asciidoctor instructions come first?
Per @mojavelinux comment when doc was first published to website.

[2013-04-25 23:16] #27 closed, assigned to graphitefriction

[2013-04-25 23:18] #21 closed, assigned to graphitefriction

[2013-04-25 23:19] #26 closed, assigned to graphitefriction

[2013-04-26 01:16] graphitefriction opened #32 "Add java integration documentation to Docs webpage"
Render Alex's java integration ReadMe on the website and interconnect it with the other guides.
Update the index page

[2013-04-26 01:18] graphitefriction opened #33 "Add deckjs backend documentation"
Render ReadMe to the Docs section
Update the Index page

[2013-04-26 01:33] graphitefriction opened #34 "Write differences between AsciiDoc and Markdown documentation"
How do the two syntaxes differ?
Partners with the Asciidoctor and AsciiDoc differences
May go under The Basics category

[2013-04-30 23:03] graphitefriction opened #41 "Update Maven docs"
Add and update content per new release and new funtions

[2013-05-01 09:00] mojavelinux opened #43 "Create a table of all recognized attributes and the accepted values"
Create a table that catalogs all the attributes recognized by Asciidoctor and the acceptable values. Include a description of each attribute, where it can be specified (cli, document, etc) and under what circumstances.

[2013-05-23 08:48] mojavelinux opened #48 "Update the Editing with Live Preview doc"
Update the Editing with Live Preview docs to feature all recommended approaches to editing AsciiDoc.

This page should include:
- DoctorFX / Doctorpad
- Guard and LiveReload plugins
- Gedit
- Sublime Text editor

And perhaps others as needed.

[2013-05-30 17:05] graphitefriction opened #49 "Write blog post featuring new syntax and major fixes for 0.1.3 release"
Include code snippets showing new attributes and Font Awesome icons.
Link to appropriate guides with updated/expanded examples.

[2013-06-02 18:32] #49 closed, assigned to graphitefriction

[2013-06-04 18:06] #22 closed, assigned to graphitefriction

[2013-06-04 18:08] #17 closed, assigned to nobody

[2013-06-04 18:09] #41 closed, assigned to graphitefriction

[2013-06-04 18:09] #32 closed, assigned to graphitefriction

[2013-06-04 18:10] #5 closed, assigned to nobody

[2013-06-04 18:12] #31 closed, assigned to nobody

[2013-06-04 18:24] graphitefriction opened #57 "Update and Clarify Table Syntax in Quick Ref and Writers Guide"
See conversation in this issue on Asciidoctor Core: [385](https://github.com/asciidoctor/asciidoctor/issues/385)

And add information regarding the new implicit header row described in issue [387](https://github.com/asciidoctor/asciidoctor/issues/387)

[2013-06-04 18:26] graphitefriction opened #58 "Move Markdown syntax in Quick Ref Guide"
Move the Markdown syntax to its own section at the bottom of the Quick Ref guide.

[2013-06-04 18:36] graphitefriction opened #59 "Initial Draft of Producing your Document Guide"
Guide includes the optional/alternate/advanced metadata and style attributes/values to customize the look and feel of your document.

[2013-06-04 18:39] graphitefriction opened #60 "Update Docs Index page with links to Asciidoclet and Asciidoctor.js documentation"
Docs have been published by index page lacks links.

Refer to comments in this pull request: #55

[2013-06-04 18:56] graphitefriction opened #61 "Create default start header for Docs"
It's time to iterate over all the published Docs Headers and create a default header that can be pasted in as a good starting point when a new guide is created.
This will minimize the need to come up with link names that are used repeatedly and make sure each guide has the right attributes for the website stylesheet.

Below are just a few examples of how different the attribute lists are from Doc

[2013-06-07 00:12] mojavelinux opened #64 "Provide clarification for constrained and unconstrained quotes"
Add the following clarification to the writer's guide and quick reference (if it fits).

[2013-06-10 19:49] #60 closed, assigned to graphitefriction

[2013-06-13 06:39] #58 closed, assigned to nobody

[2013-06-19 01:25] mojavelinux opened #68 "Create a showcase page"
The showcase page should highlight places where Asciidoctor is used, projects that build on it and projects that integration with it.

Examples include:
- github.com
- Awestruct
- Doctorpad / DoctorFX
- sandoc
- etc.

We should also add a testimonials page. If that should be a different page than this one, split that off into another issue (best not to bundle issues).

[2013-06-26 19:20] mojavelinux opened #71 "rename the asciidoctor.github.com repository to asciidoctor.org"
To make the purpose / function of this repository more clear, rename it to asciidoctor.org.

The following steps need to be performed to complete this change:
1. Rename this repository to asciidoctor.org (enabled option to forward requests from the old url to the new one)
2. Rename the master branch to gh-pages
3. Rename the develop branch to master (or just keep it as develop)
4. Update the branc

[2013-06-26 21:33] mojavelinux opened #72 "Spin off a more basic AsciiDoc syntax quick reference"
Currently, the AsciiDoc syntax quick reference is trying to serve both newcomers and veteran users. The more complete it becomes, the more intimidating it makes the AsciiDoc syntax seem for newcomers.

Spin off a more basic AsciiDoc syntax quick reference that has the scope of a Markdown reference (specifically a Markdown variant, like Kramdown, that supports the most common extras).

[2013-06-26 23:56] #33 closed, assigned to graphitefriction

[2013-06-27 18:59] graphitefriction opened #73 "Update Maven plugin guide with 0.1.3.1 information"
Add:
- artifact links
- new configuration options
- built-in attributes
- multiple outputs for the same file

[2013-06-27 23:07] graphitefriction opened #75 "Update Gradle guide with latest release information"
Include new properties and configuration options

[2013-06-27 23:21] graphitefriction opened #77 "Upload demo of deck.js slides showcasing attributes"
This is almost done, I just need to polish it and pick a picture.
- Add link in deck.js guide

[2013-06-28 01:38] #73 closed, assigned to graphitefriction

[2013-06-28 01:40] #75 closed, assigned to graphitefriction

[2013-06-28 01:50] mojavelinux opened #78 "Incorporate default Asciidoctor stylesheet into website"
The styles on asciidoctor.org are similar to the ones from the default Asciidoctor stylesheet, but does not share a common build. That means every change to the default Asciidoctor stylesheet also has to be made to the website.

Incorporate the default Asciidoctor stylesheet into the website so that the website can inherit the styles needed for styling HTML generated by Asciidoctor.

[2013-06-29 22:03] mojavelinux opened #79 "Document acceptable formats for video macro"
Not all video formats can be used with the video tag. Make a note of this in the documentation / writer's guide. Something along the lines of:

[2013-07-02 04:49] mojavelinux opened #81 "Create a page that lists / recommends editors"
People are often asking which editor they should use for AsciiDoc (phrased as "what's a good AsciiDoc editor?"). Of course, our stance is that you don't need a special editor. We can make that point, but also recommend editors that have good syntax highlighting and perhaps embedded preview.

We want to make sure to recommend open source options first, but I guess it would be biased if we didn't li

[2013-07-17 22:20] mojavelinux opened #85 "Add link to conversion script (Confluence XHTML to AsciiDoc)"
Add a link to the following script on the migrations page that converts Confluence XHTML to AsciiDoc:

https://gist.github.com/melix/6020336

[2013-07-25 16:06] lordofthejars opened #88 "Update new features into AsciiDoc Syntax Reference"
There are some amazing aspects released on Asciidoctor 0.1.3 that are documented in news section but not in AsciiDoc Syntax Quick Reference. I think would be good have all features documented in a single document so anyone new can learn all features without having to read more than one document.

[2013-07-31 01:54] mojavelinux opened #89 "Document how to give attributes in the document precedence"
In the AsciiDoc syntax quick ref, document how to give attributes in the document precedence over attributes defined by the caller (API or CLI).

Normally, an attribute defined by the caller overrides the attribute with the same name defined in the document. However, if you add a trailing `@` to the attribute value, the declaration in the document takes precedence.

[2013-08-08 07:23] #71 closed, assigned to mojavelinux

[2013-08-19 22:10] mojavelinux opened #91 "Document various options for enabling custom substitutions"
As this question comes up frequently, document explicitly the various ways to enable custom substitutions on a block, in particular a listing/source block.

Custom substitutions are supported on the source block (and any block, for that matter):

[code]

If you want to enable the quotes in an ad-hoc way, then you'll want to enable macros on the block and use the inline `pass:[]` macro, which allow

[2013-08-22 21:33] graphitefriction opened #93 "Remove differences between AsciiDoc and Asciidoctor from homepage"
This information is now available in the Docs section under How do Asciidoctor and AsciiDoc differ?

Ref: Pull Request #92

[2013-08-27 00:45] graphitefriction opened #95 "Upgrade website to use Asciidoctor 0.1.4"
This will need to be done so the examples in the release notes display correctly.

[2013-08-27 04:42] graphitefriction opened #96 "Write Release Notes news post"
- tag with draft
- incorporate header attributes
- @mojavelinux writes intro
- edit Release Notes
- incorporate release notes template
- embed release notes

[2013-08-28 04:41] #28 closed, assigned to graphitefriction

[2013-08-28 04:52] #93 closed, assigned to graphitefriction

[2013-08-28 04:55] #57 closed, assigned to nobody

[2013-09-05 05:50] #59 closed, assigned to graphitefriction

[2013-09-05 22:57] #96 closed, assigned to nobody

[2013-09-10 22:29] mojavelinux opened #102 "Document how to link stylesheet when processing subdirectories"
In response to a question raised on the mailinglist, document how to link to a common stylesheet location when processing documents in subdirectories.

For more details and proposed solutions, see the following mailinglist thread:

http://discuss.asciidoctor.org/Single-CSS-for-multiple-nested-adoc-files-td552.html

[2013-09-11 03:18] #95 closed, assigned to mojavelinux

[2013-09-11 03:22] graphitefriction opened #105 "Update user manual with last minute 0.1.4 ToC syntax changes"
`right` now works with multiple attributes

[2013-09-11 21:37] graphitefriction opened #106 "Add how to control substitution in URLs to User Manual"
The base content is here: http://discuss.asciidoctor.org/Hyperlinks-with-multiple-underscores-td558.html

[2013-09-11 21:41] graphitefriction opened #107 "Add extensions section to user manual"
Pull base content from the 0.1.4 release notes and this discussion:

http://discuss.asciidoctor.org/Finally-a-draft-of-the-Asciidoctor-extension-API-has-landed-td455.html

[2013-09-11 22:12] graphitefriction opened #108 "Create 404 page"
Be a little crazy

[2013-09-12 06:53] #88 closed, assigned to nobody

[2013-09-12 22:42] #107 closed, assigned to nobody

[2013-09-12 22:55] graphitefriction opened #110 "Integrate user manual template"
Add parts and sections from template into user manual to determine what documentation is missing.

[2013-09-13 00:03] #110 closed, assigned to nobody

[2013-09-17 05:01] #105 closed, assigned to graphitefriction

[2013-09-18 00:12] graphitefriction opened #115 "Add font awesome table check styles to Appendix A of User Manual"
Change X's to use attribute check mark styles in header

[2013-09-18 01:57] #115 closed, assigned to graphitefriction

[2013-10-01 00:42] graphitefriction opened #123 "Update user manual ToC examples"
- Use `include::[]` to insert example code
- Update screenshots

[2013-10-01 00:51] #89 closed, assigned to nobody

[2013-10-01 01:03] #123 closed, assigned to nobody

[2013-10-01 02:17] mojavelinux opened #125 "Document the safe mode levels and the features they affect"
Add a section that documents each safe mode level and identify which features are affected by the setting.

I'm thinking of laying out the definitions for each safe mode as a labeled list and using a matrix (table) to identify which features are affected by each safe mode.

[2013-10-04 02:05] mojavelinux opened #128 "Convert atom feed template from haml to slim"
Convert the atom feed template, __layout/feed.atom.haml_, to the Slim template language. This should allow us to remove Haml as a dependency of the site.

[2013-10-04 02:25] mojavelinux opened #129 "Use asciidoctor-docbot account for publishing"
Setup the asciidoctor-docbot account and update the publish task to use its credentials.

[2013-10-04 02:26] #129 closed, assigned to mojavelinux

[2013-10-04 02:29] mojavelinux opened #130 "Footer in user manual should report last modified date"
The footer in the user manual HTML document should report the last modified date instead of the last date of publish.

Ideally, the date string should link to the document history on GitHub.

[2013-10-04 09:04] mojavelinux opened #131 "Provide advice on how to debug unclosed delimited blocks"
In large documents, you may end up with an unclosed delimited block. We should address this scenario in the docs or FAQ so we can help writers get back on track.

There are two parts of the advice:
- **Identification:** When content is not being rendered as you expect for the later part of a document, it's usually due to an unclosed block. Always rule this out before going deeper. If you don't see

[2013-10-05 01:24] mojavelinux opened #133 "Provide recommendations for headings beyond level 5"
There's a reason for the limited depth of section titles. Explain why level 5 (heading 6) is the limit and provide recommendations for how to make headings / titles once this limit is reached.

Refer to http://discuss.asciidoctor.org/Heading-7-not-handled-td710.html for proposed recommendations.

[2013-10-10 04:37] graphitefriction opened #135 "Document substitution elements"
- Add substitution elements
- Add `subs` example
- Update asciidoc vs asciidoctor appendix per substitution update

[2013-10-10 18:04] graphitefriction opened #137 "Turn on section numbers and captions in user manual"
Also condense any image, table and example references to use caption numbers

[2013-10-10 18:08] #135 closed, assigned to graphitefriction

[2013-10-11 22:35] mojavelinux opened #138 "Use "unicode escape sequence" terminology"
The section about inserting special characters (symbols and other unicode characters) should reference the terminology "unicode escape sequence".

As pointed out by Guillaume points out:

[2013-10-11 23:14] #137 closed, assigned to graphitefriction

[2013-10-12 02:48] graphitefriction opened #140 "Fix Appendix A to reflect compatibility file updates"
- provide explanation of compat file
- update table to indicate status of each attribute and value

[2013-10-12 02:55] #140 closed, assigned to nobody

[2013-10-14 21:57] graphitefriction opened #142 "Make installation and upgrade directions consistent through all docs"
Docs to check include:
- user manual
- installing the toolchain
- rendering your document
- writers guide

[2013-10-14 22:16] #142 closed, assigned to graphitefriction

[2013-10-17 19:23] #138 closed, assigned to nobody

[2013-10-21 18:08] graphitefriction opened #149 "Revise docs to prefer semantic ToC positioning"
Update guides to emphasize toc right and left positions.

[2013-10-21 19:10] #149 closed, assigned to graphitefriction

[2013-10-22 21:03] mojavelinux opened #151 "Document the tags feature of the include directive"
As an alternative to selecting content to include by line ranges, you can grab tagged regions. This feature is activated using the `tags` attribute on the include directive.

Here's an example of an include directive that retrieves a tagged region from the target file:

[code]

Here's how the target file looks with the tagged region:

[code]

Here's the expanded AsciiDoc:

[code]

The directive `t

[2013-10-22 21:48] graphitefriction opened #152 "Organize API and CLI usage sections"
Move the API and CLI usage information to more appropriate locations in the user manual

[2013-10-22 22:03] #152 closed, assigned to graphitefriction

[2013-10-22 22:46] #151 closed, assigned to nobody

[2013-10-23 17:18] graphitefriction opened #155 "Add special sections documentation"
Add documentation describing the special sections (dedication, partintro, etc), how to use them, and examples. This would also contain some information about multi-part book construction.

[2013-10-23 17:48] graphitefriction opened #156 "Rework block title, metadata, and delimiters in the user manual"
The block title, metadata and delimited block sections don't flow well within the structure of the user manual. A lot of the information is also repeated (or should be) within the expanded sections for each block type.

Therefore, it might make more sense to:
- Provide a brief introduction to blocks and substitutions in the terms and concepts part
- Link from the brief introduction to the expanded

[2013-10-23 17:53] graphitefriction opened #157 "Rework the elements-attributes-values section"
In the terms and concepts part, the description of the elements is geared more toward developers instead of users.
1. Move the specific element names to a table in an appendix
2. Define elements in a more user-friendly manner
3. Explain how each element can have a set of possible attributes, and each attribute can have a set of values

[2013-10-23 17:56] graphitefriction opened #158 "Improve output overview section in user manual"
The [output section](http://asciidoctor.org/docs/user-manual/#output-formats) in the user manual needs to provide better descriptions of the outputs and link to the expanded sections for using each output.

Also, remove the AsciiDoc output information.

[2013-10-23 18:01] graphitefriction opened #159 "Add expand-include pre-processor script to include section of user manual"
Make [this script](http://discuss.asciidoctor.org/Output-single-adoc-file-from-includes-td808.html) and its description into a sidebar within the include section of the user manual.

[2013-10-23 20:49] graphitefriction opened #160 "Document encoding attribute"
By default, Asciidoctor sets a document's encoding to UTF-8.
The `encoding` attribute can be used to override the input and output character set of the document.

 `-a encoding=` or `:encoding:`

However, the other encodings are pretty much un-tested at this point in Asciidoctor.
If the header contains non-UTF-8 characters then encoding must be set prior to the characters in the heading or on the

[2013-10-23 21:30] graphitefriction opened #161 "Define and describe the macro syntax structure in the user manual"
Introduce and list the macros in the terms and concepts part.

[Macro](http://en.wikipedia.org/wiki/Macro_(computer_science))

[2013-10-24 00:21] graphitefriction opened #162 "Add pygments stylesheet documentation"
The draft documentation for changing the default pygments stylesheet is in [#637](https://github.com/asciidoctor/asciidoctor/issues/637).

Expand on this draft with further examples.

[2013-10-24 17:49] graphitefriction opened #163 "Update documentation with latest README changes"
- [Ruby versions](https://github.com/asciidoctor/asciidoctor/commit/4a9ee6116603e65cb537a345daed0ed59456d980)
- [Command fixes](https://github.com/asciidoctor/asciidoctor/commit/6a40726f96f33e0c6945a46d64b1a5cfe3e0047c)

[2013-10-24 18:49] #163 closed, assigned to graphitefriction

[2013-10-24 21:18] graphitefriction opened #165 "Combine and organize some sections in the user manual"
- Move output types to document processing part
- Move doctypes to build your document part
- Move ToC section to navigating part
- Group blocks sections
- Fold in discrete section titles to sections
- Split out custom output sections

[2013-10-24 23:55] #165 closed, assigned to graphitefriction

[2013-10-25 00:30] graphitefriction opened #167 "Add block macro extension example to user manual"
Add the example and explanations provided in Issue [#734](https://github.com/asciidoctor/asciidoctor/issues/734) to the extensions part of the user manual.

Also include path resolution utilities per @mojavelinux.

[2013-10-27 06:42] mojavelinux opened #168 "Clarify that the link: macro allows any URI to be recognized"
While most URIs begin with "http", "https" and "ftp", a URI can have any scheme (see [URI scheme](http://en.wikipedia.org/wiki/URI_scheme). It's not reasonable for AsciiDoc to support them all because that would run the risk of matching things that shouldn't be matched (i.e., greedy matches). That's where the inline link macro comes in.

Let's say you want to link to a Firefox or Chrome "chrome" l

[2013-10-28 20:08] graphitefriction opened #169 "Add security section to user manual"

[2013-10-28 20:32] #169 closed, assigned to graphitefriction

[2013-10-28 23:27] #3 closed, assigned to nobody

[2013-10-28 23:34] graphitefriction opened #171 "Document the difference between standalone and embeddable output (header_footer documentation)"
See the security section for the commented text

[2013-10-30 00:44] graphitefriction opened #172 "Clean up the built-in block summary in the user manual"

[2013-10-30 19:17] #172 closed, assigned to graphitefriction

[2013-10-31 00:19] #102 closed, assigned to nobody

[2013-11-01 00:36] #106 closed, assigned to nobody

[2013-11-01 00:36] #131 closed, assigned to nobody

[2013-11-06 02:57] #155 closed, assigned to graphitefriction

[2013-11-06 23:34] mojavelinux opened #180 "Clearly state that lines included from non-AsciiDoc file are not preprocessed"
Clearly state in the docs that the lines included from a non-AsciiDoc file are not preprocessed. This means that preprocessor directives, such as the include directive, are ignored.

Asciidoctor recognizes the following file extensions as AsciiDoc files:

[code]

The lines read in from the following include will be preprocessed:

[code]

The lines read in from the following include will **not** be

[2013-11-08 22:30] #168 closed, assigned to graphitefriction

[2013-11-22 00:18] mojavelinux opened #197 "Document how to preview YouTube video in document when viewed locally"
The YouTube embed script uses the URL prefix `//` instead of `http://` or `https://`. This causes problems previewing the YouTube video in some browsers when viewing a local document (on your own computer). Firefox can handle it, but Chrome gets confused.

Document how to use a local web server to view the document through HTTP so that the video plays correct.

This problem is caused not by Asciid

[2013-11-23 19:07] mojavelinux opened #198 "Add section that details how to setup third-party deck.js extensions"
The instructions in the deck.js guide for how to setup third-party extensions (not included in the main deck.js repository) are very fuzzy. Add a dedication section that goes through the instructions for setting up a third-party extension step-by-step.

[2013-12-08 20:02] mojavelinux opened #200 "Set outfilesuffix and relfileprefix attributes in configuration"
Set the following two attributes in the configuration to make interdocument references work with the Awestruct Indexifier extension.

[code]

[2013-12-15 17:34] mojavelinux opened #201 "Clearly state that custom subs applies to any block"
Clearly state that custom substitutions, declared using the subs attribute, applies to any block or paragraph.

Also clarify that, as of 1.5.0, if the first entry in the list is not preceded by a + or -, then the only substitutions applied are the ones listed. The preceding + or - reflects a modification to the built-in subs for that block.

[2014-01-27 02:39] mojavelinux opened #204 "Add section to user manual about log messages"
Add a section to the user manual that explains the log messages, what the levels (e.g., ERROR, WARNING) mean and how to address them.

[2014-01-31 04:34] mojavelinux opened #205 "Document the use of the pass inline macro in an attribute entry"
The use of the pass inline macro for applying formatting to an attribute value is not documented.

See http://discuss.asciidoctor.org/Text-formatting-embedded-in-attribute-value-td1322.html for details.

[2014-03-01 19:18] mojavelinux opened #211 "Relative document links on GitHub"
Add a section to the user manual or an FAQ about how to create links to relative documents on GitHub. The focus of the information should be on the file extension. Despite the fact that GitHub converts the documents to .html, the URL still uses the .adoc extension. Therefore, the outfilesuffix needs to be explicitly set in the GitHub environment.

The following sample document on GitHub demonstrat

[2014-05-11 23:12] cristoper opened #215 "Footnotes documentation: broken footnoteref example"
In both the [User Manual](http://asciidoctor.org/docs/user-manual/#user-footnotes) and the [Quick Syntax Guide](http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#section-footnotes), the footnotes example exhibit a broken footnoteref. Instead of displaying a footnote marker linked to an existing footnote as expected, the example simply shows an unprocessed "footenoteref:[disclaimer]".

[2014-05-12 01:05] #215 closed, assigned to nobody

[2014-05-12 02:06] #180 closed, assigned to nobody

[2014-06-09 02:20] mojavelinux opened #216 "Use new Google Analytics script"
Upgrade the master template to use the new Google Analytics JavaScript code, as documented here:

https://developers.google.com/analytics/devguides/collection/analyticsjs/

[2014-06-16 05:28] mojavelinux opened #218 "Change comments on posts to use Discourse"
Once we have a discourse forum setup, switch the comments on blog posts to use Discourse instead of Disqus.

This setup is documented in the following posts:

* http://eviltrout.com/2014/01/22/embedding-discourse.html
* http://blog.bigdinosaur.org/working-on-a-new-comment-system/
* https://github.com/trident523/js-discourseBestOf
* https://meta.discourse.org/t/discourse-plugin-for-static-site-gene

[2014-07-15 09:52] cmoulliard opened #229 "Callout syntax for XML source is not displayed correctly"
The callout syntax to be used for XML source is not well displayed in the asciidoctor manual

Here is what we display :

![screenshot 2014-07-15 11 51 14](https://cloud.githubusercontent.com/assets/463790/3583161/a1eec54e-0c05-11e4-951a-66b5f351baf3.png)

Should be :

[code]

[2014-07-15 21:55] #229 closed, assigned to mojavelinux

[2014-07-16 04:52] #162 closed, assigned to nobody

[2014-07-27 23:38] jexp opened #236 "Add links to groovy and spring-docs/guides to what-is-asciidoctor"

[2014-07-30 02:36] graphitefriction opened #240 "Create AsciiDoc article template"
- add a link to it on the docs index page

[2014-07-30 02:41] #240 closed, assigned to graphitefriction

[2014-07-31 00:13] graphitefriction opened #244 "Fix broken callout syntax examples"
In user manual and quick reference guide.

[2014-07-31 00:19] #244 closed, assigned to graphitefriction

[2014-08-11 21:19] #201 closed, assigned to nobody

[2014-08-11 21:19] #205 closed, assigned to nobody

[2014-08-11 23:07] graphitefriction opened #267 "Create How to guide for Asciidoctor PDF"
Create converter section on docs page

[2014-08-11 23:11] #267 closed, assigned to graphitefriction

[2014-08-12 23:14] graphitefriction opened #269 "Highlight @mrhaki's Awesome AsciiDoc series on the Docs page"
http://mrhaki.blogspot.com/

[2014-08-12 23:44] graphitefriction opened #270 "Create a “Who's Using Asciidoctor?” page"
- O’Reilly and MakerPress
- Clojure Cookbook
- GitHub supports AsciiDoc syntax in repositories, wikis and gists (powered by Asciidoctor)
- NFJS, the Magazine is produced from articles written in AsciiDoc
- Context and Dependency Injection for the Java EE Platform (CDI)
  - Specification
  - Website
- Golo Programming Language Guide (AsciiDoc Python, soon to be Asciidoctor!)
- Neo4j graph database

[2014-08-13 00:12] graphitefriction opened #271 "Add presentations and videos about Asciidoctor to Docs page"
Possible videos/presentations:

Enjoy the Magic of Asciidoctor in Java: A Quick Introduction: www.youtube.com/watch?v=oeqVOEsj3ic

Quickie: Asciidoctor: parleys.com/play/52a72d8de4b0e619540cc49d
http://www.slideshare.net/aalmiray/devoxx-asciidoctoraalmiray

Video: GeeCON 2014 Andres Almiray Asciidoctor: www.frequency.com/video/geecon-2014...asciidoctor/182673177

Dan's slidedecks

Real time Collab

[2014-08-13 00:17] graphitefriction opened #272 "Add AsciiDoc to EPUB3 converter documentation"

[2014-08-23 18:51] aheusingfeld opened #279 "Add RSS or Atom feed for news"
Please consider adding an RSS or Atom feed to the news section at http://asciidoctor.org/news/

[2014-08-23 20:36] abelsromero opened #280 "Broken 'Licence' link in /docs/index.adoc"
The licence link in the docs page (http://asciidoctor.org/docs/) is broken.
Checking the same link in https://github.com/asciidoctor/asciidoctor/README.adoc, I guess the link in /docs just misses the ending '.adoc'.

Currently points to https://github.com/asciidoctor/asciidoctor/blob/master/LICENSE,
and the licence can be found on https://github.com/asciidoctor/asciidoctor/blob/master/LICENSE.adoc

[2014-08-24 01:15] #280 closed, assigned to mojavelinux

[2014-08-26 07:29] mojavelinux opened #283 "Document the conditional preprocessor directives"
Document the three conditional preprocessor directives:

* ifdef
* ifndef
* ifeval

as well as the cooresponding closing directive, endif.

For example:

[code]

If there are a large amount of lines between the start directive, we should recommend using the (optional) long-hand form for the end:

[code]

Note that there is no long-hand form for the end of `ifeval`.

[2014-08-26 19:00] #272 closed, assigned to nobody

[2014-08-26 20:58] graphitefriction opened #287 "Update paragraph and inline formatting sections of Writer's Guide"

[2014-08-26 21:02] #287 closed, assigned to graphitefriction

[2014-08-27 19:24] graphitefriction opened #289 "Update substitutions in writer's guide"

[2014-08-27 19:26] #289 closed, assigned to graphitefriction

[2014-08-27 20:32] graphitefriction opened #291 "Fix lists and links section in writers guide"

[2014-08-27 20:34] #291 closed, assigned to graphitefriction

[2014-08-28 07:05] mojavelinux opened #293 "Document the many integrations of AsciiDoc that use Asciidoctor"
There are many tools that support AsciiDoc using Asciidoctor. Document them and also post a news entry about them to promote.

Here's the running list:
- GitHub
- GitLab
- Awestruct
- Middleman
- Dexy
- Slim
- Haml (pending a pull request)
- JBake
- Atom plugin
- Brackets extension
- Chrome extension
- Firefox add-on (pending approval by Mozilla)
- Grain
- Docgist / GraphGist
- NetBake (NetBeans p

[2014-08-28 08:56] #279 closed, assigned to nobody

[2014-09-04 23:17] bleathem opened #296 "The referenced filename in the user guide for the footer docinfo file is incorrect"
The user guide says to use a filename of the format `<docname>-footer.xml`:

However in practice it seems as though the filename should still have the _docinfo_ term, as in `<docname>-docinfo-footer.xml`.

[2014-09-05 07:33] mojavelinux opened #297 "Document the subtitle functionality"
Asciidoctor recognizes a subtitle in the primary level-0 heading. If the primary title contains at least one colon, Asciidoctor treats the text after the final colon as a subtitle.

[code]

In this example:

* primary title = Title
* subtitle = Subtitle

Note that the subtitle is not *displayed* in the html5 backend. It is displayed in the docbook and epub3 backends. Support for subtitle display i

[2014-09-11 05:52] mojavelinux opened #301 "Document how to include a space in a link target"
Document how to include a space in a link target.

For example, consider that you need to link to the following URL:
- downloads/Product - Guide.pdf

There are two ways to solve this problem.

Option 1: Use %20 to represent a space

link:downloads/Product%20-%20Guide.pdf[Product Guide]

Option 2: Use {space} or {sp} to represent a space

link:downloads/Product{space}-{space}Guide.pdf[Product Guide

[2014-09-14 02:00] mojavelinux opened #304 "Migrate discuss.asciidoctor.org to Discourse"
Migrate the discussion list at discuss.asciidoctor.org to a Discourse instance running under the same domain name.

[2014-09-22 07:58] #301 closed, assigned to ggrossetie

[2014-10-11 00:55] mojavelinux opened #307 "Clearly document that delimited block boundaries must have equal lengths"
In the delimited blocks section, clearly document that the boundaries of a delimited block must have equal lengths. In other words, the starting boundary line must exactly match the ending boundary line.

Illegal:

[code]

Legal:

[code]

We should also add a warning that if a boundary is not matched, then the remainder of the document will be included inside the block (i.e., the block will not en

[2014-10-17 21:35] mojavelinux opened #311 "Document how to build a deck.js or reveal.js presentation using a Gradle build"
Document how to build a deck.js or reveal.js presentation using a Gradle build and the Asciidoctor Gradle plugin. This requires a bit of extra setup because it has to pull down the custom templates.

See https://gist.github.com/ItGumby/d9903a8cc14b8611e842

This documentation should either be in the Gradle guide or, perhaps more appropriate, the deck.js / reveal.js guide on asciidoctor.org.

[2014-10-29 22:35] ggrossetie opened #319 "Rework the page about live preview tools"
Live preview in Browser:
- Firefox
- Chrome
- Opera

Live preview in editor:
- Brackets
- Atom
- ?

[2014-10-29 22:36] ggrossetie opened #320 "Add a direct download link to the Firefox addon"
Because you know... AMO...

[2014-11-06 18:28] ghost opened #322 "Typo in reveal.js documentation"
In https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/install-and-use-revealjs-backend.adoc

[code]

The deck.js url needs to be replaced with ... `git@github.com:hakimel/reveal.js.git`

[2014-11-08 08:21] mojavelinux opened #323 "Document what contexts and content_model are available"
Tracking the following issue: https://github.com/asciidoctor/asciidoctor-documentation/issues/30

[2014-11-11 23:54] jxxcarlson opened #324 "FrontMatterPreprocessor example -- problem runing it"
It's no doubt just me, but I'll be the test case for the unsophisticated user:-)  I tried following `FrontMatterPreprocessor` example  (section 82.1 of the User Manual.  Here is the first try, with the
error in the comments.

_TRY #1_

[code]

Of course!  How could ruby know where `FrontMatterPreprocessor` is?

@jxxcarlson.noob_rating += 1

So I tried the below: But this time it doesn't know about

[2014-11-12 21:20] #322 closed, assigned to mojavelinux

[2014-11-20 00:18] mojavelinux opened #325 "Update Asciidoctor PDF guide with instructions to install the gem"
Update the Asciidoctor PDF guide to include instructions for how to install the RubyGem (currently in prerelease) using the `gem` command. See the [Asciidoctor PDF README](https://github.com/asciidoctor/asciidoctor-pdf) for details.

[2014-11-25 02:36] mojavelinux opened #328 "Make PDF of user manual, quick reference and writer's guide available"
Make a PDF of the user manual, quick reference and writer's guide available on the website. Automate the creation of the PDF as part of the production build process.

[2014-12-02 10:32] #211 closed, assigned to nobody

[2014-12-03 05:09] mrhaki opened #332 "Document cell specifier for repeating cell contents"
Asciidoc allows for repeating cells using the cell specifier <span>*. This also works for Asciidoctor but is not yet documented.

See also http://www.methods.co.nz/asciidoc/userguide.html#X84

[2014-12-11 20:08] #319 closed, assigned to nobody

[2014-12-11 20:09] #320 closed, assigned to nobody

[2015-01-07 08:24] mojavelinux commented on #200
Resolved by https://github.com/asciidoctor/asciidoctor.org/commit/b021c28eb4a192fb44710e549115a8f20464fb9d.

[2015-01-07 08:24] #200 closed

[2015-01-09 23:40] mojavelinux opened #340 "Clarify that the role attribute on a block gets translated to a CSS class"
It's not entirely clear that the role attribute on a block gets translated to a CSS class in the html5 backend. This should be very clear as its an important point to understand to encourage separation of content and presentation. See http://asciidoctor.org/docs/user-manual/#role.

[2015-01-12 21:12] taqtiqa-mark opened #342 "Table cross reference examples"
Hi,
Asciidoctor is a  powerful and expressive tool.  Many thanks for all the work that has gone into it.

I've found it remarkably difficult to find any example of cross referencing a table.

Example context 1:
"Table 4 lists all the ways you can refer to a table"

Example context 1:
"For further examples of all the ways you can refer to a table, please see Table 4. Table cross reference styles"

[2015-01-13 08:06] ge0ffrey opened #343 "The syntax quick reference guide doesn't explain how to escape URL's that contain a [ character"
I want to place a link to
  http://d.hatena.ne.jp/tokobayashi/searchdiary?word=[OptaPlanner]
with the title
  Kobayashi's blog

However, with or without backslash escaping, it doesn't work:

    http://d.hatena.ne.jp/tokobayashi/searchdiary?word=\[OptaPlanner\][Kobayashi's blog]

It never renders properly. The syntax guide reference should explain how to escape url's (as it differs from escaping t

[2015-01-13 09:35] mojavelinux commented on #343
This will definitely be a good addition to the quick reference.

In this case, I would strongly recommend to URL encode the square brackets.
Another option is to surround the URL in +, then add an explicit link:
prefix to force it to be a link.

[2015-01-14 19:44] mojavelinux commented on #270
* Anki: http://ankisrs.net/docs/manual.html
* AnkiDroid: https://ankidroid.org/docs/manual.html

[2015-01-15 00:17] mojavelinux commented on #270
* Reactor: http://projectreactor.io/docs/

[2015-01-15 21:39] marcekowalski commented on #342
See example below.  Just standard anchoring.

The receiver model has eleven model specific parameters. Two of these parameters control the linear equalization, six parameters control the non-linear equalization (DFE), two parameters control the adaptation mode, and one parameter sets the process corner. <<rxmodelpara>> lists these model parameters with their maximum, minimum, default values. The d

[2015-01-17 22:21] mojavelinux opened #344 "Document how to access the metadata with the API"
Document how to access the metadata (i.e., attributes) using the Asciidoctor API.

For example, you can use the following method call to access the author of the document.

[code]

[2015-01-19 06:52] mojavelinux opened #347 "Create tutorial for extension writers"
Create a tutorial intended for extension writers that steps through the process of creating an extension. After a general introduction to the extension mechanism, the tutorial should cover on each type of extension. The tutorial should also explain how extensions are loaded and, ideally, how to package extensions so that they can be shared.

[2015-01-20 11:12] plaindocs opened #348 "asciidoctor -h should list backends"
Hi Guys,

Would be nice if `asciidoctor -h` told you what the available backends were, so I don't have to look it up separately.

[2015-01-20 11:14] plaindocs commented on #348
Point me at the repo / file if you want a PR (no promises :-p)

[2015-01-20 19:35] mojavelinux commented on #348
Great idea! Keep in mind, this will just be the out of the box list, as you can add a backend by putting a converter on the load path. However, we could leave a space for `*` or `other` so that users are prompted to this fact.

Here's the repo and file:

https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/cli/options.rb#L46

Look at the doctype option to see how to add this info

[2015-01-20 19:35] mojavelinux commented on #348
Let's go ahead and create a mirror of this issue in that repository and link the two together (link just by mentioning in a comment).

[2015-01-28 06:50] mojavelinux commented on #342
Thanks for the follow-up @marcekowalski!

Is there an action here for changing the user manual or is this now clear?

[2015-01-28 07:03] #343 closed

[2015-01-28 07:03] mojavelinux commented on #343
I've added an example to the syntax quick reference and also corrected the example about how to deal with spaces in a URL as well.

[2015-01-28 21:01] taqtiqa-mark commented on #342
I think that would be clear if I'd internalized asciidoctors interals.  I havent reached anywhere near that point, so I'd have to say:
- For a user manual the above would do more harm than good.
- For a developer manual some references to further documenttaion of the receiver manual, etc wouldn't hurt.  That said, well written behavior suite and unit tests are better than docs, even linking to the

[2015-02-02 10:47] plaindocs opened #350 "Triple colon in lists?"
Hi Guys,

The docs in http://asciidoctor.org/docs/user-manual/#labeled-list are very unclear as to what exactly
----
This:::
   means
----

is it just a different separator to distinguish from the previous `::` ?

Cheers

[2015-02-02 12:35] plaindocs opened #351 "Colophon header level"
In the docs http://asciidoctor.org/docs/user-manual/#doc-preamble the colophon is shown at level 2 (and not marked as a colophon).

[code]

but in the docs here http://asciidoctor.org/docs/user-manual/#user-colophon it is shown at level 1

[code]

Using this second usage (with asciidoctor-pdf) makes all of my chapters sub chapters of the colophon (which is not what I want).

If you let me know wha

[2015-02-05 09:25] mojavelinux commented on #350
Correct. It allows nesting. You have 4 to choose from:

* `::`
* `:::`
* `::::`
* `;;`

There's no direct correlation between the number of delimiters and the level. Each time you switch delimiters, it introduces a new level until the list is terminated. This is how we imply depth in a language with a flat (left-aligned) syntax.

[2015-02-13 20:43] mojavelinux commented on #270
Under the books category:

* Python for Java - http://antrix.net/pages/python-for-java/

[2015-02-20 21:30] abelsromero opened #358 "Tux images in ex-image.adoc are not available"
I was just checking the user manual on the site, and noticed that the tux images used as examples in the `Include images by full URL` are not available any more :disappointed:.

Some other example should be used instead in the file https://raw.githubusercontent.com/asciidoctor/asciidoctor.org/master/docs/_includes/ex-image.adoc

[2015-02-24 01:55] #358 closed

[2015-02-24 01:56] mojavelinux commented on #358
Let's use the one from wikimedia commons. That will be a stable URL.

[2015-02-24 01:56] mojavelinux commented on #358
Fixed by 10ca69d1ba754243d9b09f1e5bb5bede0dca2bd9.

[2015-03-02 13:02] cmoulliard opened #361 "Document attributes : iconfont-remote, iconfont-name not documented into the doc"
These attributes are not documented into the user-manual
- iconfont-remote
- iconfont-cdn
- iconfont-name

http://mrhaki.blogspot.be/2014/08/awesome-asciidoc-changing-fontawesome.html

[2015-03-15 15:17] Mogztter opened #364 "Update the "Installing and Using Asciidoctor.js" page"
The page is outdated as there are simpler ways to install Asciidoctor.js using npm or Bower package.

[2015-03-21 23:19] Mogztter opened #366 "Improve the docs page"
**Get Started with Asciidoctor**

In my opinion, the "Using Mac OS X?" is too big and draw too much attention in the "Get Started with Asciidoctor". Currently the Windows and Linux guides are mixed into one but I think it's better to have a dedicated guide for Windows. So one guide per OS would be great:
- How to install Asciidoctor on Windows
- How to install Asciidoctor on Linux
- How to install

[2015-03-25 15:23] mojavelinux commented on #270
JavaMoney specification: https://github.com/JavaMoney/jsr354-api/blob/master/src/main/asciidoc/JavaMoneySpecification.adoc

[2015-03-30 09:53] cerker commented on #270
Hibersap project: http://hibersap.org

[2015-03-30 12:53] mojavelinux commented on #366
I completely agree. Several people have pointed out recently that this page lacks clarity. It's true. The page layout was temporary...but temporary has become long term :)

Let's keep discussing on this thread ways we can organize this page and try to arrive at some action items to get us there. cc: @graphitefriction

[2015-03-30 15:36] graphitefriction commented on #366
I completely agree as well @Mogztter !

So to get all the docs in some sort of flow that is actually based on a user's reality (and therefore useful to them), we need to do two things in tangent.

1. Make a list of all of the parts of the Asciidoctor toolchain.
2. Make a list of the different types/stages of Asciidoctor users.

I started drafting up these lists here and then realized they were rea

[2015-03-30 15:55] graphitefriction commented on #366
@Mogztter Crap, @mojavelinux just told me you can't issue pull requests to gists or directly edit them so I'm going to move the content from the gist to the wiki so that you can edit the doc directly. Sorry! I'll link to the wiki page when I'm done.

[2015-03-30 16:03] graphitefriction commented on #366
Okay, let's try again :blush: Here's the wiki page: https://github.com/asciidoctor/asciidoctor.org/wiki/Docs-IA

[2015-03-30 17:55] mojavelinux commented on #366
:+1:

[2015-03-30 18:01] Mogztter commented on #366
Woah, the list is quite impressive!

I think the main goal is to answer user's question "I want to...". Non exhaustive list:

 * I want to learn the AsciiDoc syntax
 * I want to remember the AsciiDoc syntax
 * I want to try Asciidoctor
 * I want to edit AsciiDoc like a pro
 * I want to convert my AsciiDoc document to [pdf, EPUB, DocBook...]
 * I want to use advanced syntax/extensions (diagram, cha

[2015-03-30 20:49] mojavelinux commented on #364
In theory, this page should mirror what is in the README of the project. Eventually, we want to automate this linkage. For now, I've been manually synchronizing them. Do you want to just use the same content for now?

[2015-03-30 21:32] Mogztter commented on #364
Yes that would be more accurate. I also have a pending pull request to rework the README on Asciidoctor.js : https://github.com/asciidoctor/asciidoctor.js/pull/71

Maybe we can merge this pull request before synchronizing the content ? Wdyt ?

[2015-03-31 11:00] mojavelinux commented on #361
In part these are not documented because we wanted to make sure we fixed the consistently of cdn-related attributes before telling people how to use them. Addressing that issue has taken longer than expected.

See https://github.com/asciidoctor/asciidoctor/issues/659

[2015-04-01 16:57] mojavelinux opened #369 "Add reference table for attributes that must be defined in the header"
Add a reference table that lists the attributes that must be defined in the header (aka preamble) of the document in order to take effect.

These attributes include:

* source-highlighter
* icons
* ...

People are often confused about where an attribute has to be defined. If they find it in this list, it makes the point much clearer.

[2015-04-01 20:03] bmomjian opened #370 "Problem with table heading ending in a pipe"
With asciidoctor 1.5.2, if the last cell of a table heading ends with a pipe, the rendered HTML assumes the  first data row is part of the heading, e.g. this:

        [options="header",cols=">l,<l",frame="none"]
        |====
        ^l|stuff ^l|abc\|X
        |2 |hello\|
        |3 |hello
        |====

yields a correct HTML heading of:

        stuff   abc|X

which is good, but if you remove th

[2015-04-01 20:48] bmomjian commented on #370
Moved to the proper git repository, and closed.

[2015-04-01 20:48] #370 closed

[2015-04-02 11:06] mojavelinux commented on #351
This is one of those weird things inherited from AsciiDoc Python. For some reason, AsciiDoc Python allows special sections to be either level-0 (one equals sign) or level-1 (two equals signs). But it treats the both as level-1. However, it doesn't do it by changing the level in the AST, only in the output. Thus, you end up with strange results if you use level-0 and it's not the last section (it e

[2015-04-02 16:39] graphitefriction commented on #366
This is fabulous info!

I love the questions and incorporated them into the wiki document. For the most "useful" page per user group, I like to also think in terms of "track". By track I mean a set of lessons, in order, that would help that user group accomplish their most common goal / need / usecase. A track can include numerous lessons (tutorials) which are easily consumable (i.e. not take long

[2015-04-02 16:46] rmx-it opened #371 "The following test.adoc produces incorrect docbook.xml"
Hi,
since I use a lot of verbatim commandline examples in my .adoc documents I found some strange
behaviour of asciidoctor when producing docbook output.

[code]
The chapter Test1 alone gives correct output and no xmllint error.
The example line in chapter Test2 gives the following error:

[code]

This seems like a bug of asciidoctor to me.

[2015-04-02 17:48] mojavelinux commented on #371
The problem you are running into is that we changed the behavior of backticks in Asciidoctor 1.5.0. They no longer passthrough the content. Instead, you need to add pluses inside the backticks to escape the content.

[code]

Another option is to set the `compat-mode` attribute on the document.

[code]

This is described in the migration guide.

http://asciidoctor.org/docs/migration/

I realize tha

[2015-04-08 10:51] graphitefriction commented on #347
Let's see if we can outline this at Devoxx FR or Mix IT.

[2015-04-08 18:51] danielgrycman commented on #366
@graphitefriction @mojavelinux Do you need any support in improving the docs page? At JavaLand I got in contact with asciidoctor. I used asciidoc in earlier days.

[2015-04-10 16:06] Mogztter commented on #366
Sorry I took some time to reply.
You summed up my thoughts with your idea of "track" :)

One other thing that come to my mind is that we need a way to visual identify or to sort the same "track" but in different "environments".

I think the [play documentation](https://playframework.com/documentation) is a good example of one way of doing it. There's the common part and the getting started part an

[2015-04-10 16:08] Mogztter commented on #366
@danielgrycman Yes, the more support we can get the better :smile:

[2015-04-16 11:47] iketanijus opened #374 "Table count in other language than English"
Hello,
I've been using asciidoctor a lot and by far it's been an amazing experience! I write most of the documents in Lithaunian language. However, I've stumbled on a problem of Table counting. For eg. if I create a table with title:

.Failinių sistemų apžvalga
[cols="5*", options="header"]

And then reder the document:
Table 1. Failinių sistemų apžvalga

I would like it to count tables in my lang

[2015-04-16 14:12] mojavelinux commented on #374
What you are looking for is the attribute `table-caption`. We don't yet have out-of-the-box language files, but we have all the hooks in place to substitute language-specific keywords. All blocks that support titles (such as the table block) follow the pattern `<blockname>-caption`.

[code]

We should add a new section to the user manual about i18n support that explains this feature. Let's follow

[2015-04-16 15:51] iketanijus commented on #374
That worked perfectly. Cheers!

i18n support would be really nice too. I'll try to volunteer for this.

[2015-04-16 15:51] #374 closed

[2015-04-22 06:30] danielgrycman commented on #366
@Mogztter @graphitefriction @mojavelinux What would be a good starting point to support you? :smile:

[2015-04-22 09:54] Mogztter commented on #366
@danielgrycman I think you can start by writing down the questions you have about Asciidoctor: https://github.com/asciidoctor/asciidoctor.org/wiki/Docs-IA#questions-asciidoctor-users-have

[2015-04-29 19:29] mojavelinux commented on #269
And now available as a book.

http://mrhaki.blogspot.fr/2015/04/aweseome-asciidoctor-notebook-is.html

[2015-04-29 22:31] mojavelinux commented on #366
We use Google Analytics. It doesn't provide a way to have a public view (which frustrates me), but @graphitefriction and @Mogztter should now have access. If others want read access, feel free to ask.

[2015-04-29 22:45] mojavelinux commented on #366
I renamed the page to make it more clear. Not everyone knows what "IA" is :)

https://github.com/asciidoctor/asciidoctor.org/wiki/Docs-Information-Architecture

[2015-04-29 23:19] mojavelinux commented on #366
I think we can take some inspiration from OpenShift's new documentation portal (based on Asciidoctor, of course). It presents one possible way to organize the numerous audiences we need to address.

http://docs.openshift.org/latest/welcome/index.html

Contrast that with their previous entry point, which looked a lot like our current docs page:

http://docs.openshift.org/origin-m4/index.html

[2015-04-29 23:21] mojavelinux commented on #366
One place concrete to start is the extension writer's guide. How to write extensions is a question that frequently comes up. Addressing it not only will allow us to practice outlining a guide, it will also put some support cases to rest :)

See #347.

[2015-04-30 00:41] graphitefriction commented on #347
Draft outline for Extension Tutorial per conversation with @mojavelinux

Ruby Extension Tutorial

.Overview of "The Extension"
. What is an extension?
. What are the powers of extensions?
.. Tell them in plain english what they can do (may also be a diagram)
.. Explain that Asciidoctor is extensible
.. Various ways to modify it
... Tap into AsciiDoc
... Effect on the parsing (high level explanatio

[2015-04-30 00:51] mojavelinux commented on #347
The general idea, as outlined above, is to not slam the reader up front with all the different examples of extensions, but rather give them a general understanding of how AsciiDoc can be extended using the Asciidoctor extension mechanism (awareness), given the a simple example to start with from end-to-end (quickstart), then go through each of the extensions in turn (depth).

We can have a paralle

[2015-05-01 01:16] mojavelinux commented on #197
It looks like this will no longer be necessary once 1.5.3 is released since YouTube has fixed their embed code.

[2015-05-01 01:21] mojavelinux commented on #197
Note that you'll still need to do this if you are using an version of Asciidoctor before 1.5.3. However, I'd rather not clutter up the documentation with information that is not going to be useful once people upgrade, so we'll just leave the information in this issue for historical reasons.

[2015-05-01 01:21] #197 closed

[2015-05-02 04:28] DavidGamba opened #379 "toc-class attribute not documented"

[2015-05-02 22:04] mojavelinux opened #380 "Document the reftext attribute"
The reftext can be used as an alternate to a title for assigning a label that is used at the local of a xref.

Consider the following case:

[code]

The xref link to the image will appear as `Image of a tiger`. Instead of assigning a title to the image, the label can be assigned using the reftext attribute:

[code]

Of course, the label can always be overridden by using an explicit label on the xr

[2015-05-03 00:05] mojavelinux opened #381 "Document the unit of measure for height and width of images"
Document what unit of measure is used for height and width of images. The answer is CSS pixels, the same as defined in HTML5.

It would also be good to document how this affects PDF generation. Basically, the scaledwidth attribute can be used to scale the image to a certain width of the PDF page. Otherwise, it is up to the PDF conversion code to interpret how to translate CSS pixels into an approp

[2015-05-03 00:18] mojavelinux commented on #381
For more information, see this thread:

http://discuss.asciidoctor.org/Unit-of-measure-for-image-dimensions-td3040.html

[2015-05-03 10:24] jmini commented on #380
This was the next thing on my documentation improvement list.

I discovered this feature by reading this post from Emmanuel Bernard on the mailing list: [Asciidoc vs markdown](http://discuss.asciidoctor.org/Asciidoc-vs-markdown-miniidoc-td269.html).

My thinking so far:

In the **AsciiDoc Syntax Quick Reference** the [links](http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#links) secti

[2015-05-03 20:35] mojavelinux opened #382 "Document sourcemap and catalog_assets options"
There are two options to extract additional information into the AST during parsing.
- sourcemap: Captures the file and line information for each section to aid with creating a document outline view in an editor
- catalog_assets: Captures all the links and images found in a document for building reference information. Note that many of these assets are cataloged during the convert phase due to how

[2015-05-03 20:36] mojavelinux commented on #382
Note that these options are passed to the options array of the API.

[code]

The options can be used independently.

[2015-05-04 00:06] mojavelinux commented on #380
Agreed. I like the changes you are proposing. I especially like the reworking of section 29 because the heading is definitely too specific right now. Cross references is definitely the topic...and this new structure gives us room to address the topic properly.

[2015-05-04 05:29] mojavelinux commented on #270
PsyToolkit - www.psytoolkit.org

[2015-05-04 23:33] mojavelinux commented on #270
Taiga - http://taigaio.github.io/taiga-doc/dist/ (includes a custom HTML5 backend with an offcanvas navigation menu; source: https://github.com/taigaio/taiga-doc)

[2015-05-05 22:01] mojavelinux opened #383 "Document the sectnumlevels attribute"
The `sectnumlevels` attribute controls the depth of section numbering (both at the section title and in the outline). The default value is 3.

[2015-05-06 23:17] graphitefriction opened #384 "Add list of extensions and extension descriptions to documentation"
This issue was spawned from PR: https://github.com/asciidoctor/asciidoctor.org/pull/372

Name: Asciidoctor Screenshot
Description: Automate the inclusion of dynamically-generated screenshots into your documentation.
Runtime: AsciidoctorJ
URL: http://fix.github.io/asciidoctor-screenshot/

Name: Asciidoctor Gherkin
Description: Include Gherkin feature files in AsciiDoc in the form of sections, parag

[2015-05-06 23:20] graphitefriction opened #385 "Advance design of extensions page or section layout"
Spawned from PR: https://github.com/asciidoctor/asciidoctor.org/pull/372

For the layout, ultimately we want something that looks more like a gallery (sort of like http://awestruct.org/gallery/ but more carefully structured).

Also see https://github.com/asciidoctor/asciidoctor.org/issues/384 regarding the content of the extensions page/section.

[2015-05-07 00:31] #384 closed

[2015-05-07 19:41] mojavelinux commented on #270
AjaxAnywhere - http://ajaxanywhere.com/documentation.html

[2015-05-07 19:47] mojavelinux commented on #270
opendaylight - https://github.com/opendaylight/docs

They are using AsciiDoc to DocBook to generate the web help format.

[2015-05-09 05:42] mojavelinux commented on #270
We should organize this list into books, software projects and perhaps other categories.

[2015-05-10 00:25] mojavelinux commented on #270
Eclipse Scout. For details, see https://www.bsi-software.com/scout/documentation-platform/

[2015-05-13 12:04] wadael opened #386 "Converters paragraph"
Hi,

I did not find a paragraph addressing the "I have existing documents how do I convert them?"
There is asciidoc converters but no importers.

To make it even more readable, I advise a drawing

Thanks

[2015-05-13 20:09] mojavelinux opened #387 "Document how to split an attribute value over multiple lines"
Document how to split the value of an attribute entry over multiple lines. As of 1.5.0, you end the line in a `\` to extend the value to the next line. Prior to 1.5.0, you used a `+`, though that still works too.

[code]

Note that the endlines are removed unless a `+` surrounded by spaces appears before the trailing backslash.

[code]

[2015-05-13 20:16] mojavelinux commented on #386
What about http://asciidoctor.org/docs/user-manual/#processing-your-content?

I'm not sure what you mean by this. What's an importer?

Could you be more clear about which page you are talking about?

[2015-05-14 19:33] wadael commented on #386
Hello Dan,
Sorry, I filed this in a rush and was not clear.

My first point is that the user manual lacks a paragraph that list the available options to convert existing content FROM other formats TO asciidoc

And the image could be something like that

![image](https://cloud.githubusercontent.com/assets/1598352/7639981/6fe17938-fa80-11e4-9ece-a083d04ecfc3.png)

the corresponding plantuml is

@sta

[2015-05-15 00:07] mojavelinux commented on #386
No problem. Thanks for clarifying!

I think part of the reason I was confused is because Asciidoctor doesn't have any official tools yet for converting to AsciiDoc. There are some experimental efforts, including docbookrx <https://github.com/opendevise/docbookrx> and markdown2asciidoc <https://github.com/bodiam/markdown-to-asciidoc>. I suppose we'll want to emphasize those when we're comfortable r

[2015-05-15 21:17] andrew-simmons opened #388 "Create a detailed Theme Creation Howto Guide"
The current theme documentation page _[Produce Custom Themes Using the Asciidoctor Stylesheet Factory](http://asciidoctor.org/docs/produce-custom-themes-using-asciidoctor-stylesheet-factory/)_ feels very spartan and is focused more on applying available themes than on creating new ones.  A walk through or a more in depth guide explaining how themes work in Asciidoctor would be helpful.

[2015-05-15 23:10] mojavelinux commented on #270
Another list can be found here: https://github.com/bodiam/awesome-asciidoc

[2015-05-15 23:47] mojavelinux commented on #388
I totally agree.

I do want to mention that I'd like to complete the upgrade to Foundation 5 and the refactoring before writing the guide because the current way of creating themes just isn't right yet...and will change. See the following issues:

* https://github.com/asciidoctor/asciidoctor-stylesheet-factory/pull/23
* https://github.com/asciidoctor/asciidoctor-stylesheet-factory/pull/2

[2015-05-19 00:55] mojavelinux commented on #381
Keep in mind we are rethinking how image dimensions are controlled in Asciidoctor PDF, so we'll need to make sure we document those changes.

[2015-05-19 01:53] mojavelinux commented on #270
Apache HBase Reference Guide: https://hbase.apache.org/book.html

[2015-06-02 19:24] mojavelinux commented on #384
I think it might also be helpful to have a complete index of the components in the Asciidoctor ecosystem, whether they are extensions are not. I've created an initial list and posted it on Google+.

https://plus.google.com/114112334290393746697/posts/C1QLRBynXTB

[2015-06-02 23:24] jirutka commented on #384
DocTest is missing on the list. :(

[2015-06-02 23:40] mojavelinux commented on #384
Zonk! What was I thinking?!? (actually, I didn't think it wasn't pertinent for what was being asked in the contract :)) But I'll definitely add it to the G+ post.

[2015-06-04 03:12] mojavelinux commented on #270
Java for Kids: http://yfain.github.io/Java4Kids/

[2015-06-06 21:35] mojavelinux commented on #325
This is now resolved. See https://github.com/asciidoctor/asciidoctor.org/commit/8f09ab79f6bf1b97ea25946a4d479618b314f6d2.

[2015-06-06 21:35] #325 closed

[2015-06-08 15:39] bladnor opened #394 "callout in tables are not working"
Even if a table column ist prefixed with an 'a' like "a| I would like to use callouts here <1> ", the callout is not rendered like in code blocks. How can I make this work or is this not (yet) supported?

[2015-06-08 18:27] mojavelinux commented on #394
Asciidoctor only supports callout numbers at the end of lines in a source block or at the beginning of items in a callout list. This is unrelated to AsciiDoc-style table cells. That's just how Asciidoctor works globally.

You've filed this issue in the Asciidoctor website. Did you mean to file the issue in Asciidoctor core? https://github.com/asciidoctor/asciidoctor. If so, you might be interested

[2015-06-08 20:51] bladnor commented on #394
Yes, I meant the core. Sorry for picking the wrong place. I would like to use callouts not only in source blocks but also in other blocks like a table block. Do you see a chance to implement that?

[2015-06-08 22:04] mojavelinux commented on #394
As I mentioned in the referenced issue, we are considering it. However, there are a lot of other priorities before it. That said, it's possible to implement this using an extension (extensions provide solutions to a lot of needs, as designed). I'd recommend using a Treeprocessor, though there are other ways to solve it. Extensions also help us try out an improvement and flesh out all the requireme

[2015-06-10 10:50] jaredmorgs commented on #366
Coming in from the reveal.js discussion @mojavelinux and I were having the other day. I'm reading the content strategy with interest and definitely like the approach of Question-Answer approach @Mogztter described.

I've been working with an internal Google Search guy in Red Hat and he's been providing some interesting insights in how google is now structuring the Info Cards. If you don't know wha

[2015-06-10 21:03] mojavelinux commented on #270
arc42, software architecture - http://arc42.github.io/

[2015-06-11 19:23] jxxcarlson opened #395 "Noteshare.io"
Would it be appropriate to add http://www.noteshare.io to "Whose using ... "?

[2015-06-11 19:24] mojavelinux commented on #395
Of course! Please do.

[2015-06-13 06:50] jmini commented on #380
I have proposed a fix for this in **pull request #390**.

[2015-06-13 08:11] mojavelinux commented on #380
Thanks @jmini! This is on my list to review...hopefully in the next few days.

[2015-06-13 20:31] mojavelinux commented on #270
Vert.x 3 - http://vert-x3.github.io/docs/vertx-core/java/

[2015-06-15 22:12] mojavelinux commented on #270
GroovyFX - http://groovyfx.org/docs/index.html
Weld - https://github.com/weld/core/tree/master/docs/reference/src/main/asciidoc (uses DocBook toolchain to build final output)

[2015-06-18 23:18] graphitefriction commented on #270
I've sorted them into the following groups.

@mojavelinux Should I sort out Docs into websites and specs? Or are there better groupings?

Authors and Publishers

- Enterprise Web Development: From Desktop to Mobile
- Clojure Cookbook
- NFJS, the Magazine
- Python for Java
- O’Reilly
- MakerPress

Services

- Noteshare.io
- Hubpress.io
- GitHub
- GitLab
- Atom Editor
- Brackets Editor

Websites

-

[2015-06-19 00:44] graphitefriction commented on #270
Mockup 1 (there's a mockup 2 in the works)
![mock_1](https://cloud.githubusercontent.com/assets/1124042/8245330/087c687c-15ea-11e5-8862-3fe8e0350a45.png)

[2015-06-19 00:49] graphitefriction opened #396 "Create a wireframe for the Backers page"
Pull content from bountysource supporters pages

[2015-06-19 01:26] mojavelinux commented on #270
Fantastic!!

[2015-06-19 01:27] mojavelinux commented on #270
I think it's good to have the specs be a separate category because it sends a strong message. Though, this category may evolve overtime to be something more general (for instance, it could incorporate documents in other enterprises like legal).

We'll probably want to sort the Docs category by how well the entries serve as an example so people discover the ones first that show Asciidoctor in the b

[2015-06-19 01:39] graphitefriction commented on #270
Alt form of Wireframe 1

Somethings a little "meh" about the spacing in this one, but it could work because the "mores" in each category (like books) would only be a few, but for docs, there'd be a lot listed....hmmmmm

![mock_2](https://cloud.githubusercontent.com/assets/1124042/8245826/a715d2d2-15f1-11e5-99d6-bb26c0611e2c.png)

[2015-06-19 01:45] graphitefriction commented on #270
Maybe what it is missing is big, centered section headings like THE DOCS! THE BOOKS! THE SERVICES! THE JAZZ HANDS!

[2015-06-19 01:50] mojavelinux commented on #270
Keep in mind, we could use an accordion to reveal the “more” list. We could even use one of those partially shown accordions like you see on news site (we hate them there, but here it would actually make sense).

[2015-06-19 08:15] sbordet commented on #270
The [CometD](http://cometd.org) [Documentation](http://docs.cometd.org/3/reference).

[2015-06-19 16:21] LightGuard commented on #270
Manning has started taking Asciidoc now. Arquillian in Action will be done with Asciidoc, Docker in Practice is done in Asciidoc.

www.jboss.org uses asciidoc

[2015-06-19 18:02] graphitefriction commented on #396
Wireframe 1 for backers page

![backer_mock_1](https://cloud.githubusercontent.com/assets/1124042/8259609/07f3366a-167b-11e5-9753-fb08d08b7ca7.png)

[2015-06-19 18:05] graphitefriction commented on #396
Questions: Should backers be listed in alphabetical order or some other ordering scheme?

Once a column reaches 5 names in length, start a new column.

How do we want to represent backers who give one-time contributions?

[2015-06-19 23:47] mojavelinux commented on #396
I think we should randomize the entries within a category. We can use some slim magic to make this happen.

We also might be able to use some responsive CSS to get it to fit within a fixed height / width.

I think we should pro-rate the contribution over a year and fit them into the appropriate category. The Q&A category is for $5 _and under_ per month.

[2015-06-19 23:47] mojavelinux commented on #396
I wonder if we should start with columns and add rows as needed. That way, we use the space on the page more efficiently. In other words, 5 across, then start a new row.

[2015-06-20 02:48] graphitefriction opened #397 "Create a mockup for the new homepage"
![home_mock1](https://cloud.githubusercontent.com/assets/1124042/8265721/63e83e68-16c4-11e5-9207-dea906c76d9d.png)

[2015-06-24 01:20] mojavelinux opened #398 "Document the outfilesuffix and how it's used for relative links on GitHub"
See https://github.com/asciidoctor/asciidoctor/issues/417#issuecomment-36426214

[2015-06-24 04:33] mojavelinux commented on #270
Found a full book in both Japanese and Chinese.

http://azu.github.io/promises-book/
http://liubin.github.io/promises-book/

A nice demonstration of UTF-8 support and perhaps a good test case for future changes and improvements.

[2015-06-25 00:03] graphitefriction commented on #396
Wireframe 2 per @mojavelinux adjustments (form rows first vs columns)

![backer-2](https://cloud.githubusercontent.com/assets/1124042/8344188/43a3de16-1a9b-11e5-9c5b-81da6237bd76.png)

[2015-06-25 00:06] mojavelinux commented on #396
:+1:

[2015-06-25 01:30] graphitefriction commented on #397
Wireframe 2 with very rough first pass at Nav and Footer

![home-mock-2](https://cloud.githubusercontent.com/assets/1124042/8345098/7c11f254-1aa7-11e5-84e0-173def62b649.png)

[2015-06-25 05:44] mojavelinux opened #399 "Write a Ruby environment setup guide"
Installation is always a challenge, especially for users unfamiliar with an environment. Since many of the setup guides ask the user to have Ruby installed and to install one or more gems, we need a page that we can point the reader to when things aren't going as expected.

This page should cover the following:

1. How to install Ruby
2. How to prepare the Ruby environment for gem installation
3.

[2015-06-25 12:11] wolandscat opened #400 "Documentation needs update in asciidoctor.org user manual PDF section?"
The information [here](http://asciidoctor.org/docs/user-manual/#pdfs) doesn't mention asciidoctor-pdf or [PDF theming](http://gist.asciidoctor.org/?github-asciidoctor%2Fasciidoctor-pdf%2F%2Fdocs%2Ftheming-guide.adoc).

[2015-06-26 00:17] mojavelinux commented on #270
Noteshare - http://noteshare.io (service)

[2015-06-26 00:18] mojavelinux commented on #395
Added!

[2015-06-26 00:18] #395 closed

[2015-06-26 00:20] mojavelinux commented on #400
This is related to our overall information architecture discussion. Currently, information from the projects is not pulled into the website automatically. It's synced manually (and quite painfully). We're currently working on getting a pipeline setup so that these guides are sourced directly from the project, removing any discrepancies.

...I'm also not promoting the theming engine heavily until w

[2015-06-26 00:30] graphitefriction commented on #380
@mojavelinux I'm closing this issue as PR #390 and PR #401 handle the bulk of these concerns. However, I am going to spawn another issue about custom reftextlabels. I think the fact that you can define it both in the ID and the cross reference and the resulting inheritance rules gets a little lost.

[2015-06-26 00:33] graphitefriction opened #402 "Clarify xreflabel inheritance and examples"
The xreflabel needs its own subsection and specific examples showing the alternate ways to customize it. Refer to #380

[2015-06-26 00:35] mojavelinux commented on #380
Excellent!

Let's be sure to explain the search priority. When determining the label to put at the location of the cross reference, it searches for text in the following order:

1. The explicit text specified on the cross reference itself
2. The value of the reftext on the object to which the cross reference points
3. The title of the object to which the cross reference points

(It may be useful t

[2015-06-26 00:35] mojavelinux commented on #402
Let's be sure to explain the search priority. When determining the label to put at the location of the cross reference, it searches for text in the following order:

1. The explicit text specified on the cross reference itself
2. The value of the reftext on the object to which the cross reference points
3. The title of the object to which the cross reference points

(It may be useful to note that

[2015-06-26 00:51] #380 closed

[2015-06-26 11:45] wolandscat commented on #400
I'm happy to keep being the test rat:)

[2015-06-26 18:25] graphitefriction opened #403 "Outline Contributor Guide"
- Start by using existing content that has been pulled out of README (see https://github.com/asciidoctor/asciidoctor.js/pull/71)
- Guide should be able to used unversally between all projects

[2015-06-26 18:30] graphitefriction opened #404 "Outline Feature Tour"
I've started a wiki page with a few possible high level features and a few lines/notes. It is still very rough with brainstorming necessary at all levels.

https://github.com/asciidoctor/asciidoctor.org/wiki/Feature-Tour-Brainstorming

[2015-06-26 18:36] graphitefriction commented on #396
We have enough information and a satisfactory layout to take this to the next step (prototyping). I'll set up a staging area/repo and kick it off.

[2015-06-26 18:37] graphitefriction opened #405 "Create prototype of the Backers page"
- set up environment
- refer to #396

[2015-06-26 19:07] #396 closed

[2015-06-27 00:57] mojavelinux commented on #270
Geb - http://www.gebish.org/manual/snapshot/ (project)

[2015-06-29 18:51] mojavelinux commented on #270
Tinkerpop - http://tinkerpop.incubator.apache.org/docs/3.0.0.M9-incubating/ (project)

[2015-06-30 22:35] tduchateau commented on #270
We're new happy users of Asciidoctor for Dandelion (http://dandelion.github.io/)

For example:
* blog posts: http://dandelion.github.io/blog/2015/06/30/dandelion-core-and-datatables-1.0.0-releases
* documentation for components: http://dandelion.github.io/components/core/1.0.0/docs/html/, http://dandelion.github.io/components/datatables/1.0.0/docs/html/

[2015-07-03 07:44] zaxebo1 opened #407 "user manual of ascii doctor is not available in PDF form on the website"
asciidoc-syntax-quick-reference.pdf and asciidoc-writers-guide.pdf are available in the PDF form , But user-manual is NOT available in PDF format

I tried to build it myself using asciidoctor-pdf , but it failed to build the pdf

Note that on phablet and tablets, it is easier to store and carry manuals in PDF format, and read them at leisure; compared to locally storing and reading html files on t

[2015-07-03 08:36] zaxebo1 commented on #407
the command
[code]

gives error
 i have pasted the error log at  http://pastebin.com/StCBHmWT

[2015-07-03 08:38] zaxebo1 commented on #407
The error log pasted at http://pastebin.com/StCBHmWT for better viewing , is now being pasted here also for ready reference

[code]

[2015-07-03 08:40] zaxebo1 commented on #407
The images warning part in the above error log can be ignored, but there are many "Failed to parse" messages in error log in midway. Probably they are the problem.

[2015-07-03 09:12] mojavelinux commented on #407
I've fixed most of these errors in master. Asciidoctor PDF 1.5.0.alpha.9 will be released this weekend to address them. Then, we'll give it another shot.

[2015-07-03 21:26] mojavelinux commented on #403
We also have a contributing guide in Asciidoctor core from which to draw ideas.

https://github.com/asciidoctor/asciidoctor/blob/master/CONTRIBUTING.adoc

I'd also like to look outside of the Asciidoctor project for good examples of a contributing guide.

One of the things I want have is a section at the top that welcomes everyone to contribute in whatever way they can. We don't want people to get

[2015-07-03 22:58] mojavelinux commented on #304
We've reached out to DigitalOcean and they have offered to sponsor the hosting of the Discourse forums (on a 2GB server). I'll work with @Mogztter to get it setup. If anyone else is interested to help manage the server, please come forward.

[2015-07-04 17:04] Mogztter commented on #366
Another idea I had when writing benchmark document is to provide common template and explain how to use a particular syntax or extension.

 * When writing a benchmark you should use the chart extension to display the results, tables to compare different setups, image macro to display screenshots, code block to reproduce the results, footnotes or bibliography to reference other benchmarks admonitio

[2015-07-05 12:36] abelsromero commented on #403
As mentioned here ([PR22 of maven-plugin-examples](https://github.com/asciidoctor/asciidoctor-maven-examples/pull/26)), not only should this be used across project from a content point of view but technically.

Ideally, we should be able to reuse it without the need of copying it manually, but I’m not aware of a _nice_ way to achieve that on github.
This makes me think if we should tackle first ho

[2015-07-06 05:45] mojavelinux commented on #403
I'm glad you are thinking about this problem.

I think the solution is automation. A computer can do very tedious boring tasks without ever complaining :) We would likely leverage the CI server to sync files when the master is updated. This might be an automatic pull request from the canonical source out to each of the repositories. When the step is automated, it doesn't count as copying in my boo

[2015-07-13 22:28] mojavelinux commented on #270
ClojureScript Unraveled (book)

output: http://funcool.github.io/clojurescript-unraveled/
source: https://github.com/funcool/clojurescript-unraveled

[2015-07-14 06:43] mojavelinux commented on #271
Write in AsciiDoc, Publish Everywhere - Dan Allen -  Mix-IT 2015 - http://www.infoq.com/fr/presentations/write-asciidoc-publish-everywhere

Reading & Writing in 20 Years - Dan Allen - Devoxx France 2015 - https://www.parleys.com/tutorial/reading-writing-20-years

Write in AsciiDoc, Publish Everywhere - Dan Allen / Maxime Gréau - Devoxx France 2015 - https://www.parleys.com/tutorial/write-asciidoc-

[2015-07-16 12:05] zaxebo1 commented on #407
Just for the sake of completeness of the test, today i tried to convert usermanual to PDF by using **asciidoctorj** .

it gave these errors ,which is pasted at http://pastebin.com/awk48UFP

"asciidoctorj --version"  shows
version 1.5.2.
It does not what is the version of asciidoctorj-pdf bundled with it

[2015-07-19 04:48] sums801 opened #408 "Please complete the section on 'custom backends' in 'asciidoctor user manual', on priority"
custom backends section of usermanual is not written yet at
http://asciidoctor.org/docs/user-manual/#custom-backends

If this section is written for initiation of user, then potential coontributors can themselves start helping/contributing to backend efforts like asciidoctor-latex
Currently without any guidance by the user manual on writing backends , it is uphill difficult for few mortals like us

[2015-07-19 07:37] mojavelinux commented on #408
I believe this is a duplicate of #80.

[2015-07-26 14:44] Mogztter commented on #304
@mojavelinux Are you waiting for DigitalOcean to give you access to a server?

[2015-08-01 07:20] mojavelinux opened #409 "Consolidate Markdown compatiblity into a single section"
Right now, it's a bit hard to find the syntax that is compatible with Markdown because it's spread out throughout the user manual. It might be more useful to have a section dedicated to this topic and then have the other sections in the user manual refer to it with an admonition block (TIP) when there's an alignment w/ Markdown.

[2015-08-01 07:22] mojavelinux commented on #409
This section should also include an explanation about how AsciiDoc and Markdown are generally compatible with regards to basics such as:

* plain text markup
* paragraphs spaced by blank lines
* lists that with asterisks and dashes
* etc..

[2015-08-02 00:20] mojavelinux commented on #304
@Mogztter I got tied up with a contract, so it was sitting on the backburner. I just created an Asciidoctor team and sent you an invite. There is a $240 credit applied to the account. You can now proceed with creating a Droplet and getting a vanilla Discourse instance running. If you'd like, I can create a staging subdomain that we can use to point to it until we are ready to migrate (e.g., discou

[2015-08-06 00:25] mojavelinux opened #410 "Document the webfonts attribute"
When the default stylesheet is in use, the webfonts attribute can be used to:
1. Change the value of the `family` query string parameter when linking to Google Web Fonts (the default is "Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700")
2. Disable the use of webfonts (e.g., `:webfonts!:`)

This doesn't affect how the webfonts a

[2015-08-06 00:26] mojavelinux commented on #410
This attribute is intended to be rather low-level to give the user an "out" so that it's possible to load the web fonts using a custom strategy in a docinfo file.

[2015-08-09 15:06] Mogztter commented on #304
@mojavelinux Instance is created. I just sent you an invitation. Until the DNS is up, you will need to add the following line in your `/etc/hosts` file:

[code]

[2015-08-09 15:13] Mogztter commented on #304
Someone is working on a Nabble importer: https://github.com/discourse/discourse/blob/master/script/import_scripts/nabble.rb

[2015-08-09 18:24] mojavelinux commented on #304
Fantastic!

I'd like to at least try. There's a lot of super valuable information in those threads that are still ongoing topics. I think doing a read-only would interrupt the flow of the discussion. I'm not too concerned about losing some formatting because the value is in the content. How to handle the URLs is a bit trickier.

If we do decide that we would need both, I'd prefer to have a gradual

[2015-08-09 21:44] Mogztter commented on #304
I agree but the content is messed up with HTML formatting, so we need to extract the valuable information from the mess :smile:

I can try to run the importer so you can see if the formatting is well enough ?

URL rewriting or redirection could do the job but I'm not a SEO expert.

I'd rather not

Ok

[2015-08-11 21:34] jmini commented on #270
The Eclipse Fundation is using Asciidoctor:
https://waynebeaton.wordpress.com/2015/08/10/new-eclipse-project-handbook/
https://waynebeaton.wordpress.com/2015/08/11/technology-behind-the-new-eclipse-project-handbook/

[2015-08-27 08:42] jxxcarlson opened #414 "Add to Who is Using Asciidoctor"
Could you add

[Noteshare.io](http:/www.noteshare.io), an online platform for creating lecture notes, course materials, and ["notebooks"](http://www.noteshare.io/tour) of all kinds. Supports mathematical notation via [Asciidoctor-LaTeX](http://math.noteshare.io/titlepage/asciidoctor-latex-manual)

Thanks!
Jim

[2015-08-27 08:52] mojavelinux commented on #414
Absolutely! In fact, it's already on the list.

https://github.com/asciidoctor/asciidoctor.org/issues/270

If you'd like to write a short summary (~ 150 - 250 words) of it in a comment on that issue, we'll be sure to include it in the first draft of the page...especially as a featured entry!

[2015-08-27 10:44] jxxcarlson commented on #414
Attached!  In Asciidoc format.  I'd like to discuss the last
paragraph with you at some point -- still thinking
about what is a reasonable business model.

== Noteshare.io

http://www.noteshare.io[Noteshare.io]
is an online platform for editing,
managing, and distributing Asciidoc
content (http://www.noteshare.io/tour["notebooks"]).
A split-view editor
with the source text on the left and the
rend

[2015-08-29 13:54] Mogztter commented on #366
Proposal based on https://gist.github.com/graphitefriction/6adff94aa85087e7890c and the OpenShift's new documentation portal:

https://gist.github.com/Mogztter/254ac27ce2dc0b4a1f63

[2015-09-03 09:11] danielgrycman commented on #366
@jaredmorgs I like the idea with Answer Cards

[2015-09-03 21:22] mojavelinux commented on #270
Frege (via GitBook.io) - http://dierk.gitbooks.io/fregegoodness/content/

[2015-09-06 01:44] mojavelinux commented on #270
Here's the repo for the Eclipse project websites: http://git.eclipse.org/c/www.eclipse.org/projects.git/tree/handbook/source

[2015-09-09 14:40] cinhtau opened #416 "Allow nested checklist"
You can write checklist like that:

[code]

It gives me this:

- [ ] Hardware
- [ ] System
- [ ] Network
- [ ] Database
- [ ] Application

What if I want to indent or nest network or database to illustrate that it belongs to System. I tried this:

[code]
but the rendering didn't work.

[2015-09-10 05:16] jmini commented on #270
Roel Van Steenberghe on the [asciidoctor mailing list](http://discuss.asciidoctor.org/some-experiences-with-the-asciidoctor-toolchain-vagrant-td3723.html) has written his course materials with asciidoctor: *Computerarchitectuur* (in Dutch)

* Sources in GitHub: https://github.com/roelvs/computerarchitectuur
* pdf output: http://roelvansteenberghe.ikdoeict.be/cursus/book_comparch.pdf
* html output:

[2015-09-13 15:59] msgilligan commented on #270
https://github.com/asciidoctor/asciidoclet/pull/49 creates a list of Asciidoclet-powered projects.

[2015-09-13 16:10] msgilligan commented on #270
[Mastering Bitcoin - Unlocking Digital Cryptocurrencies](http://shop.oreilly.com/product/0636920032281.do) - O'Reilly book -- [source](https://github.com/aantonop/bitcoinbook)

[2015-09-22 08:49] shahryareiv commented on #297
IMHO, this should be expanded to  level-1 headings (i.e. chapters) in book format. This is specially needed when chapters are independent papers (quite common in academic books).

[2015-09-23 21:35] Mogztter commented on #304
http://blog.discourse.org/2015/09/discourse-1-4-released/

[2015-09-23 22:24] mojavelinux commented on #270
Elasticsearch: The Definitive Guide

* https://www.elastic.co/guide/en/elasticsearch/guide/current/index.html
* https://github.com/elastic/elasticsearch-definitive-guide

[2015-09-25 04:12] mojavelinux commented on #297
Good suggestion, @shahryareiv. Could you file a new issue in the Asciidoctor core repository? That's where the code would need to be changed.

https://github.com/asciidoctor/asciidoctor/issues

[2015-10-01 00:20] mojavelinux commented on #416
Could you open this the Asciidoctor core issue tracker instead?

https://github.com/asciidoctor/asciidoctor/issues

Thanks!

[2015-10-01 04:54] cinhtau commented on #416
Moved to https://github.com/asciidoctor/asciidoctor/issues/1491

[2015-10-01 04:54] #416 closed

[2015-10-01 05:00] mojavelinux commented on #416
Thanks!

[2015-10-04 04:40] mojavelinux commented on #414
That's great. I'm going to move the comment to #270 and close this issue.

[2015-10-04 04:42] mojavelinux commented on #270
Content about Noteshare.io (written by @jxxcarlson)

[code]

[2015-10-04 04:48] mojavelinux commented on #414
Regarding the last paragraph, my advice is to put the existing users into the same basic "plan" that new users get...kind of a preview of the service. That way, you don't have different users getting different privileges (which seems fine now, but I think equality is a more virtuous goal). The idea of a free plan should be to allow users to see how it works, but kind of hands off in terms of servi

[2015-10-04 04:49] mojavelinux commented on #414
In other words, the free plan isn't really a plan, it's more of a showroom (aka demo room). It's there so that they can see the service is real and so they can learn whether it is what they are looking for. They could just clone the repo and run it locally, but this just saves them time (and gets them interested with less effort on their part).

[2015-10-04 04:50] #414 closed

[2015-10-07 07:32] mojavelinux opened #418 "Document the preamble toc option"
The preamble toc option is mentioned, but never explained. It should have a section just like the macro option.

[2015-10-08 05:41] mojavelinux commented on #270
Here's an interesting way to present the showcase, particularly the full gallery beyond the featured items. https://gohugo.io/showcase/

[2015-10-16 11:05] SandMann1 commented on #297
Is title partitioning in the plans for HTML5 backend?

[2015-10-23 18:49] mojavelinux commented on #270
GENIVI SOTA Project

* http://advancedtelematic.github.io/rvi_sota_server/
* https://github.com/advancedtelematic/rvi_sota_server

[2015-10-23 19:33] mojavelinux commented on #297
I don't see why not. There isn't an open issue about it yet, though. We'd have to sort out how to style it in the default stylesheet, of course. In the meantime, it is something you could implemented with a custom Slim template for the document node.

[2015-10-25 09:33] mojavelinux commented on #270
jQAssistant uses it for docs and in the project itself to define rules in AsciiDoc: http://jqassistant.org/

[2015-10-29 00:40] mojavelinux opened #419 "Create document about how AsciiDoc is rendered on GitHub"
Create a document that explains how AsciiDoc is rendered on GitHub and what to expect. Not all features of AsciiDoc are available and sometimes the output differs due to GitHub's rendering pipeline. This page should set expectations.

It would also be good to mention how to get a better preview using DocGist and the like.

[2015-10-29 00:41] mojavelinux commented on #419
A few salient points are mentioned in the following blog entry: http://asciidoctor.org/news/2014/02/04/github-asciidoctor-0.1.4-upgrade-5-things-to-know/

[2015-10-31 05:14] mojavelinux opened #420 "Document partial includes in quick reference"
Document the partial include feature (lines and tags) in the quick reference.

Also mention that includes should be separated by a blank line unless the content being included is intended to be joined into the same block.

[2015-11-02 22:43] mojavelinux opened #421 "Document how to disable automatic table caption"
When a title is assigned to a table, the title is automatically prefixed with "Table {n}." (where {n} is the table number). Document how to disable this feature using either the `caption` attribute on the table:

[code]

or disabling the `table-caption` attribute globally:

[code]

This is documented already for figures, so perhaps we should have a section about automatic captions and cover all th

[2015-11-04 21:39] mojavelinux opened #422 "Document how to override built-in CSS to achieve a custom look"
There are three ways to override the built-in CSS to achieve a custom look:
1. use docinfo to add additional styles
2. set the path to a custom stylesheet using the `stylesheet` attribute
3. set a path to a hybrid stylesheet using the `stylesheet` attribute

(1) and (2) are partially covered in user manual already, but (3) isn't mentioned. Using (3), you'd create a stylesheet that uses the `@impor

[2015-11-04 21:53] jonbullock commented on #422
:+1:

[2015-11-06 13:54] thj-dk opened #423 "Subtitle support in the HTML5 backend"
I would love to see the HTML5 backend support the subtitle notation.
Maybe expand the header to two rows; first one with the title, and second one with the subtitle. And then give the subtitle a smaller font size.

What do you think?

[2015-11-09 03:42] noble-grant opened #424 "Documentation on Footer docinfo files needs updating"
Section 50.3, Footer docinfo files, in the Asciidoctor User Manual, states that content in the docinfo file is added to the html footer. But as of the change for issue 1503, the docinfo footer content is now placed below the footer div.

[2015-11-10 11:11] Svish commented on #422
Re (3) it should also be documented how to still get the base stylesheet generated/downloaded/outputted when using (in my case) Maven, or similar.

[2015-11-12 10:22] mojavelinux commented on #424
Thanks for reporting! Would you like to try to update the content?

[2015-11-12 22:12] noble-grant commented on #424
I’ll give it a shot! ☺

From: Dan Allen [mailto:notifications@github.com]
Sent: Thursday, 12 November 2015 8:23 PM
To: asciidoctor/asciidoctor.org
Cc: Noble, Grant
Subject: Re: [asciidoctor.org] Documentation on Footer docinfo files needs updating (#424)

Thanks for reporting! Would you like to try to update the content?

—
Reply to this email directly or view it on GitHub<https://github.com/ascii

[2015-11-21 02:10] mojavelinux commented on #424
:+1:

[2015-11-23 22:45] ysb33r commented on #297
How is it seen in the AST? I can only see a `title` / `doctitle` on the document node. Is custom parsing required ?

[2015-11-23 22:47] ysb33r commented on #297
To answer my own question I see there is a `Title`  class in the Ruby code (and in asciidoctorj this is accessable via `structureddoctitle`).

[2015-11-24 23:59] noble-grant commented on #424
Updated content. See issue 425.

[2015-11-26 15:33] mojavelinux commented on #396
The page is now up. We don't yet have a campaign video, but everything else is implemented.

http://asciidoctor.org/supporters/

[2015-11-26 18:48] mojavelinux commented on #424
Thanks @noble-grant! It's revisions like these that keep the documentation strong and current!

[2015-11-26 20:12] mojavelinux commented on #297
For titles other than the document title, you'd need to use custom parsing. Ideally, it should be possible to reuse the Title interface to parse a title. This is possible in the Ruby code, but not currently in AsciidoctorJ. See https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/document.rb#L39-L70.

[2015-11-28 01:22] mojavelinux opened #426 "Document the autowidth option on tables"
By default, a table renders with 100% of the page width. If the `autowidth` option is set on the table, the width is calculated automatically based on the content (fit to content).

[code]

[2015-12-02 00:27] mojavelinux commented on #423
Actually, the display is not the first thing we need to think about. First, we should get the subtitle into its own HTML element so that it can be styled. The main problem right now is that it isn't being split out.

Could you file this in the core repository instead since it will require a code change to the converter? https://github.com/asciidoctor/asciidoctor

Btw, you can implement subtitle fu

[2015-12-06 12:32] shahryareiv commented on #270
A dissertation (Health Information Systems Evaluation) authored totally in Asciidoctor (Asciidoc to DocBook to Latex) http://bit.ly/1R1uy0r .
The source file can be found here: https://github.com/shahryareiv/asciimint/tree/master/sample .

Some notes:
* Customization generally happened through using `role`s and converting them through XSLT to macros in Latex.
* the cover and the first two pages ar

[2015-12-08 06:49] mojavelinux commented on #270
MuleSoft - https://github.com/mulesoft/mulesoft-docs/

[2015-12-08 09:55] ciampix commented on #270
KiCad EDA http://kicad-pcb.org/ :
* documentation https://github.com/KiCad/kicad-doc
* site https://github.com/KiCad/kicad-website

[2015-12-10 23:49] jaredmorgs opened #429 "To encourage collaboration, enable "Propose a Change" button for each Doc node."
= Background

For the last year, I've been reading through the AsciiDoctor user guide and have noticed some TODO sections that, well, never get done. ;)

I'm not in a position to contribute financially to OpenDevise, however I would love to provide value in docs commits to make the User Experience as stellar as the Asciidoctor framework is.

= Challenge

One thing I've noticed looking at the /docs

[2015-12-11 00:34] jaredmorgs commented on #429
For the record, the Read the Docs site does it like this:

https://github.com/snide/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/breadcrumbs.html

I wonder if we could adapt this into our ecosystem?

[2015-12-11 01:45] jaredmorgs opened #430 "[docs] Mention asciidoctor-pdf in the PDF section"
http://asciidoctor.org/docs/user-manual/#pdfs could do with a mention of the http://asciidoctor.org/docs/convert-asciidoc-to-pdf/ option, rather than just the fo version.

This content is contained in the https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc#67-pdfs file.

[2015-12-11 02:08] mojavelinux commented on #430
I agree. This section was written before Asciidoctor PDF existed. But now, it's (becoming) the recommended option for PDF creation in the Asciidoctor ecosystem.

[2015-12-11 02:11] jaredmorgs commented on #430
I've got a PR I'm about to submit for this. But first, Lunch!

[2015-12-11 02:20] mojavelinux commented on #430
Nice!!

[2015-12-11 03:52] jaredmorgs commented on #410
So this would go somewhere into the http://asciidoctor.org/docs/user-manual/#docinfo-file section?

[2015-12-11 04:01] jaredmorgs commented on #420
https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/asciidoc-syntax-quick-reference.adoc#include-files in this location, correct?

[2015-12-11 04:44] jaredmorgs commented on #409
I'm going to do a search for all Markdown related content in the user guide and list it here to scope out the fix.

I think this first page is the best place to list the differences.

http://asciidoctor.org/docs/user-manual/#compared-to-markdown

Probably in a table with the following headings:

.Syntax Comparison
Markdown | AsciiDoc | Comments

List the features in the following topics (some of w

[2015-12-11 04:45] jaredmorgs commented on #400
In the short term, I've created #430 which mentions asciidoctor-pdf.

It doesn't include PDF themeing.

[2015-12-11 04:53] jaredmorgs opened #432 "[docs] Section Pending "Call To Arms""
I think it might be a good idea to persuade readers to consider contributing to the TODO sections.

"Section Pending" suggests the content is under development, whereas it may not be.

I'm going create a branch that links to individual tickets where we users can discuss scope of the sections and reach a collaborative decision. Tracking them in GitHub issues will keep the information flow transpare

[2015-12-11 04:56] jaredmorgs opened #433 ""Introduction To Asciidoctor" Content Discussion"
http://asciidoctor.org/docs/user-manual/#introduction-to-asciidoctor is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc is where this heading is located.

[2015-12-11 05:12] jaredmorgs opened #434 ""Migrating from AsciiDoc Python" Content Discussion"
http://asciidoctor.org/docs/user-manual/#compared-to-asciidoc is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

[2015-12-11 05:15] jaredmorgs opened #435 ""Compared to Markdown" Content Discussion"
http://asciidoctor.org/docs/user-manual/#compared-to-markdown is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-11 05:19] jaredmorgs opened #436 ""Installation Quickstart" Content Discussion"
http://asciidoctor.org/docs/user-manual/#installation-quick-start is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-11 05:20] jaredmorgs opened #437 ""Usage Quickstart" Content Discussion"
http://asciidoctor.org/docs/user-manual/#usage-quick-start is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-11 05:58] mojavelinux commented on #399
Here's a decent guide on how to setup RVM on Ubuntu (ignore the rails part).

https://www.digitalocean.com/community/tutorials/how-to-install-ruby-on-rails-on-ubuntu-14-04-using-rvm

[2015-12-11 06:01] mojavelinux commented on #410
Nope, I think it should go in the section [Styling the HTML with CSS](http://asciidoctor.org/docs/user-manual/#styling-the-html-with-css). It makes the most sense under the configuration for the HTML backend, which is where this section lives.

[2015-12-11 06:02] mojavelinux commented on #420
Absolutely correct.

[2015-12-11 06:04] mojavelinux commented on #409
That looks good.

Keep in mind this issue has two points of focus.

1. How AsciiDoc and Markdown compare (side-by-side as you suggested)
2. Additional Markdown compatibility that Asciidoctor provides

[2015-12-11 06:05] jaredmorgs commented on #410
No problem.

I'm trying to ease the path of contribution for bugs like this because they
are potential low hanging fruit ripe for picking by eager contributors.

Having an idea of where to position content will really fast track
contribution potential for folks.

On Fri, 11 Dec 2015, 16:01 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-12-11 06:08] mojavelinux commented on #410
I really appreciate that! These are great questions.

[2015-12-11 06:08] mojavelinux commented on #410
Thanks!

[2015-12-11 06:08] mojavelinux commented on #400
:+1:

[2015-12-11 06:14] mojavelinux commented on #432
Great idea! This also ensures that there is a reference from the issue tracker leading back to those empty sections so that when we are doing project management on the repository we don't forget about them!

[2015-12-11 20:06] #430 closed

[2015-12-16 00:23] jaredmorgs opened #439 "Asciidoctor vs AsciiDoc section needs links to AsciiDoc original docs."
I saw one of my devs use the [line-through] attribute today to strikethrough some text. Not having seen this one before, I decided to investigate what this attribute was for.

It appeared in the http://asciidoctor.org/docs/user-manual/#asciidoctor-vs-asciidoc section, but that was the only mention of the attribute.

I did an internet search and found that the attribute is part of vanilla AsciiDoc,

[2015-12-16 00:50] mojavelinux commented on #439
I'd rather not link to the AsciiDoc Python user guide. Our objective here is to replace the need for that guide. It is very out of date and potentially a source for major confusion.

Asciidoctor supports all the features of AsciiDoc Python, except for the templating / configuration file mechanism (since we have our own way). Thus, we support the line-through as well. (Technically, it's a feature o

[2015-12-16 00:50] mojavelinux commented on #439
To state it another way, we want Asciidoctor to be the canonical source of information for AsciiDoc.

The only reason we mention AsciiDoc Python features is for migration purposes and thus should be framed that way.

[2015-12-16 01:00] jaredmorgs commented on #439
I agree with Asciidoctor becoming the canonical source of documentation for
AsciiDoc.

Is there a better solution for including strikethrough in AsciiDoctor than
using [line-through].

I know markdown just uses -strikethrough- from memory. There are no results
for strikethrough in the User Guide.

My suggestion would be to include a mention for Strikethrough in the TOC
(so google crawls it) and th

[2015-12-16 01:01] mojavelinux commented on #439
Yes, there's an open issue. #224.

[2015-12-16 01:04] mojavelinux commented on #439
There's a whole family of these inline formatting classes, so the TOC section should be something like "other built-in text formatting".

Here's the list:

* big
* small
* underline
* overline
* line-through
* numerous colors (see https://github.com/asciidoctor/asciidoctor/blob/master/data/stylesheets/asciidoctor-default.css#L323-L354)

I've considered removing the colors because I really don't th

[2015-12-18 05:47] mojavelinux opened #440 "Add link to Mylyn WikiText AsciiDoc project"
Add a link to the Mylyn WikiText AsciiDoc project in the tooling section.

https://wiki.eclipse.org/Mylyn/WikiText/AsciiDoc

Mylyn WikiText Extras provides tooling support for AsciiDoc in Eclipse.

[2015-12-22 10:03] jaredmorgs opened #441 ""Syntax Quick Start" Content Discussion"
http://asciidoctor.org/docs/user-manual/#syntax-quick-start is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:05] jaredmorgs opened #442 ""Custom Output Quick Start" Content Discussion"
http://asciidoctor.org/docs/user-manual/#custom-output-quick-start is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:10] jaredmorgs opened #443 ""Macros" Content Discussion"
http://asciidoctor.org/docs/user-manual/#macros is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:18] jaredmorgs opened #444 ""Attribute conventions" Content Discussion"
http://asciidoctor.org/docs/user-manual/#attribute-conventions is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:21] jaredmorgs opened #445 ""Basic Document Anatomy" Content Discussion"
http://asciidoctor.org/docs/user-manual/#basic-document-anatomy is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:28] jaredmorgs opened #446 ""Ordered Lists Summary" Content Discussion"
http://asciidoctor.org/docs/user-manual/#summary-2 is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:30] jaredmorgs opened #447 ""Labeled List Summary" Content Discussion"
http://asciidoctor.org/docs/user-manual/#summary-3 is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:33] jaredmorgs opened #448 ""Title Page" Content Discussion"
http://asciidoctor.org/docs/user-manual/#title-page is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:38] jaredmorgs opened #449 ""Preview Your Content" Content Discussion"
http://asciidoctor.org/docs/user-manual/#preview-your-content is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:40] jaredmorgs opened #450 ""Guard/Live Viewer" Content Discussion"
http://asciidoctor.org/docs/user-manual/#guard-live-viewer is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:42] jaredmorgs opened #451 ""Custom Backends" Content Discussion"
http://asciidoctor.org/docs/user-manual/#custom-backends is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:44] jaredmorgs opened #452 ""Creating a backend" Content Discussion"
http://asciidoctor.org/docs/user-manual/#creating-a-backend is currently available to create content for.

Use Issue #80 as the canonical tracker for this issue, which already has a great content starting point outlined by @mojavelinux

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:46] jaredmorgs opened #453 ""Repositories" Content Discussion"
http://asciidoctor.org/docs/user-manual/#repositories is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:48] jaredmorgs opened #454 ""Static website generators" Content Discussion"
http://asciidoctor.org/docs/user-manual/#static-website-generators is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:49] mojavelinux commented on #452
I'm on the hook for this one.

[2015-12-22 10:50] jaredmorgs opened #455 ""Java" Content Discussion"
http://asciidoctor.org/docs/user-manual/#java is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:50] mojavelinux commented on #348
This was resolved upstream.

[2015-12-22 10:50] #348 closed

[2015-12-22 10:50] jaredmorgs opened #456 ""Gradle" Content Discussion"
http://asciidoctor.org/docs/user-manual/#gradle is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:51] mojavelinux commented on #452
Also a duplicate of #408.

[2015-12-22 10:52] mojavelinux commented on #456
For now, this should point to the Asciidoctor Gradle README at https://github.com/asciidoctor/asciidoctor-gradle-plugin/blob/development/README.adoc.

[2015-12-22 10:52] mojavelinux commented on #455
For now, this should point to the AsciidoctorJ README and upcoming user manual. See https://github.com/asciidoctor/asciidoctorj/blob/master/README.adoc

[2015-12-22 10:53] jaredmorgs commented on #456
Sorry for spamming your email tonight, @mojavelinux ;)

[2015-12-22 10:53] jaredmorgs commented on #454
Thinking maybe we should mention Staticgen.org here?

[2015-12-22 10:54] mojavelinux commented on #451
This is probably really a duplicate of #452.

[2015-12-22 10:54] mojavelinux commented on #454
Sure. If there's information available that covers a topic well, we should definitely delegate to it.

[2015-12-22 10:54] jaredmorgs opened #457 ""Maven" Content Discussion"
http://asciidoctor.org/docs/user-manual/#maven is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:55] mojavelinux commented on #456
Thank you for getting these tracking issues filed!

[2015-12-22 10:55] mojavelinux commented on #457
For now this should link to the README for the Asciidoctor Maven Plugin at https://github.com/asciidoctor/asciidoctor-maven-plugin/blob/master/README.adoc

[2015-12-22 10:57] jaredmorgs opened #458 ""JavaDoc" Content Discussion"
http://asciidoctor.org/docs/user-manual/#javadoc is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:58] jaredmorgs opened #459 ""JavaScript" Content Discussion"
http://asciidoctor.org/docs/user-manual/#javascript is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 10:59] jaredmorgs opened #460 ""Yard" Content Discussion"
http://asciidoctor.org/docs/user-manual/#yard is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 11:00] jaredmorgs opened #461 ""Rdoc" Content Discussion"
http://asciidoctor.org/docs/user-manual/#rdoc is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 11:01] jaredmorgs opened #462 ""Convert Markdown To Asciidoctor" Content Discussion"
http://asciidoctor.org/docs/user-manual/#convert-markdown-strong-to-strong-asciidoctor is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 11:04] jaredmorgs opened #463 ""Migrate from AsciiDoc to Asciidoctor" Content Discussion"
http://asciidoctor.org/docs/user-manual/#migrate-from-asciidoc-to-asciidoctor is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 11:05] jaredmorgs opened #464 ""Additional Help" Content Discussion"
http://asciidoctor.org/docs/user-manual/#additional-help is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 11:06] jaredmorgs opened #465 ""Glossary" Content Discussion"
http://asciidoctor.org/docs/user-manual/#user-glossary is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 11:09] jaredmorgs opened #466 ""Unordered Lists Summary" Content Discussion"
http://asciidoctor.org/docs/user-manual/#summary is currently available to create content for.

Use this issue as a tracker for content suggestions, or feel free to provide PRs referencing this ticket to keep track of contributions.

This content is contained in https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/user-manual.adoc

[2015-12-22 11:19] jaredmorgs commented on #432
https://github.com/asciidoctor/asciidoctor.org/pull/467 contains the fix for this.

[2015-12-22 22:22] mojavelinux commented on #270
Javaslang: https://github.com/javaslang/javaslang

* documentation http://javaslang.github.io/javaslang-docs/2.0.0-RC2/

[2015-12-23 04:01] jaredmorgs opened #468 "Provide Terse "Contributing Docs Fixes" Instructions"
Through @mojavelinux 's patience, I've learned a few tricks about how contributions to the user guide should be handled.

* Naming your PR something like `Issue-123` instead of `issue_123` or `bugfixes`
* Always having a matching Issue number to go along with your PR, and reference the bug number in your PR.
* Using the `git commit --amend` as a low-friction way of squashing your commits as you cr

[2015-12-23 04:54] mojavelinux commented on #468
Absolutely! I love these suggestions.

Ever since I got into the habit of naming branches after issues, I've found it to really improve my workflow. I tend to use all lowercase and a hyphen, like `issue-23`. The really nice part about this is that when you go to write your commit message, you don't have to look up which issue number to mention in the message (e.g., `resolves #23`) because it's rig

[2015-12-23 06:57] mojavelinux commented on #283
Here's the relevant section from the AsciiDoc User Guide: http://www.methods.co.nz/asciidoc/userguide.html#_conditional_inclusion_macros

Note that the AsciiDoc User Guide refers to these as macros, but they are not really macros because they get applied by the line reader, not the parser. That's why we call them directives.

[2015-12-29 05:18] jaredmorgs commented on #452
For the record, #80 is the canonical source of planning for this ticket, and I've updated this issue accordingly.

Continue all discussion on Issue #80 please. This issue remains open until Issue #80 is resolved, at which point the admonition in the user-manual.adoc can be deleted.

[2015-12-31 23:47] jaredmorgs commented on #442
I'm thinking we could promote the Jekyll Asciidoc Quickstart in this section. Unless "Custom Output" refers to a custom Backend in this case.

[2015-12-31 23:49] jaredmorgs commented on #443
What content should be put into this section? Are we talking about stuff like the button Macros? Or is it something a little different?

[2015-12-31 23:52] jaredmorgs commented on #444
Perhaps describe the difference between in-document attributes and command-line attributes. I know some sections in the guide talk about command-line attributes and sometimes the difference between command-line and in-document attributes can be a little confusing to new folks.

[2015-12-31 23:54] jaredmorgs commented on #445
I wonder if talking about the differences between an Article and Book could be a good start here. There are other sections in the guide that could potentially be referenced or included in this section. Or, perhaps, paraphrased as a quick reference for new folks.

[2015-12-31 23:58] jaredmorgs commented on #466
I think the big thing with unordered list functions like check boxes is that users can easily make PDF forms that allow interactivity (to a degree). I think mentioning some potential use cases of checkboxes might inspire readers to use Asciidoctor for task they might have used other services for in the past.

I know that I made a simple printed survey form to hand out after a training course, for

[2016-01-01 00:04] jaredmorgs commented on #446
Perhaps relate this back to how Asciidoctor adds value over other commonly-used authoring tools like MS word (and even Markdown) with relation to the amount of control you have over how ordered list content is controlled by the user.

[2016-01-01 00:06] jaredmorgs commented on #447
I think it would be useful in some instances to mention now these labeled lists relate back to some commonly-used DocBook constructs like <qandaset>. It may offer a bridge for DocBook users looking at AsciiDoc as a migration strategy.

[2016-01-01 00:07] jaredmorgs commented on #447
You could even create a targeted guide for DocBook migrations so folks entrenched in this markup language could migrate easily.

[2016-01-01 00:08] jaredmorgs commented on #448
I think mentioning attributes like :showtitle: and how to structure author info here would be a good win. I know this is mentioned in the Kismet Chameleon sections a bit, but it bears repeating here (hopefully using include:: directives).

[2016-01-01 00:10] jaredmorgs commented on #449
This is a great section to promote the other OpenDevise Asciidoctor projects that make plugins for editors, browsers and other tooling.

[2016-01-01 00:13] jaredmorgs commented on #450
Should this point to anything (a repository README?) for the Guard viewer?

[2016-01-01 00:14] jaredmorgs commented on #449
Oh, and don't forget to mention the Gist Asciidoctor viewer that you always remind me of, @mojavelinux . That is a great tool for quick collaboration and I always forget it exists or how to use it properly.

[2016-01-01 00:16] jaredmorgs commented on #453
I think we should mention here that not all repositories are equal when it comes to Asciidoctor support. For example, GitHub is pretty great, but BitBucket (Atlassian Stash) is absolutely terrible.

Can't speak for GitLab but I assume it is pretty good. I know Red Hat were using an implementation of GitLab to do all the docs migrations to Asciidoc.

[2016-01-01 00:20] jaredmorgs commented on #462
Would need to verify this, but I think if you can paste generated Markdown HTML into AsciidocFX, it will do a pretty good job at converting the content to Asciidoc markup. I know that app does a great job for HTML to AsciiDoc in general, so it may be a migration strategy for folks.

It would be good to get @rahmanusta to comment on whether this functionality could be ported into the asciidoctor to

[2016-01-01 00:21] jaredmorgs commented on #463
Pretty sure I saw something about compatibility with asciidoc that could be used to add to this section.

[2016-01-01 00:24] jaredmorgs commented on #464
So do we repeat the Getting Help admonition info in the first page of this guide in this topic.

I would think that having the Getting Help info up the top of the guide would be a good move. Burying it down at this level makes it hard to discover.

[2016-01-01 03:58] mojavelinux commented on #442
The Jekyll information belongs in a static site (or website) generator
section. This section is geared more towards the mechanics of achieving
different output types, such as DITA or JATS.

[2016-01-01 04:01] mojavelinux commented on #443
This section is merely meant to explain what a macro is, it's anatomy and a
few illustrative examples for context. The button macro fits, but I think
the examples should be more common macros like image. Image is a good
example because it allows us to draw attention to block vs inline.

[2016-01-01 04:03] mojavelinux commented on #444
That distinction is definitely information we want to centralize and refer
to whenever we speak of assigning attributes. It should save a lot of
redundant explanations.

[2016-01-01 04:07] mojavelinux commented on #453
Definitely. Setting some expectations here would be ideal and likely save
us a lot of support questions.

[2016-01-01 04:10] mojavelinux commented on #462
The best solution right now is the IntelliJ plugin.

You are correct that AsciidocFX can convert HTML to AsciiDoc.

I also have a native converter in the works that uses kramdown to convert
to AsciiDoc. I need to remind myself to push that repository. That's the
native solution I'd like to put in the toolchain.

[2016-01-01 07:54] rahmanusta commented on #462
@jaredmorgs I've used HTML and Markdown parsers written in JS to convert x to AsciiDoc. If there are parsers in Ruby for Markdown and/or HTML, it is not hard writing port to convert them to AsciiDoc.

[2016-01-01 23:16] mojavelinux commented on #462
Exactly.

[2016-01-03 00:47] mojavelinux commented on #450
For now the README for the guard viewer...except that there are currently two projects and we need to resolve which one is the canonical one. The main repo is https://github.com/asciidoctor/guard-asciidoc, but the incoming work is coming from https://github.com/teddy-ma/guard-asciidoctor. It's on my list to reconcile.

[2016-01-03 00:48] mojavelinux commented on #464
Honestly, I think we should drop this section until we know why it exists. We don't really have a need for it right now (unless you know of one).

[2016-01-03 00:50] mojavelinux commented on #463
I think we should drop this section. I don't want to draw attention to AsciiDoc Python, and I don't want to make it seem like Asciidoctor isn't AsciiDoc. This guide is about how to write AsciiDoc and convert it with Asciidoctor. I really don't want to put other ideas in people's heads.

[2016-01-03 00:53] mojavelinux commented on #449
I totally agree, though this has nothing to do with OpenDevise. We'll simply be promoting tools that make up the Asciidoctor ecosystem, some initiated by OpenDevise, some by others. Who started it doesn't matter. It's just Asciidoctor.

http://gist.asciidoctor.org is an amazing front-end to GitHub and many other repositories and maturing quickly. It even has experimental edit and save support for

[2016-01-03 00:55] mojavelinux commented on #447
I agree that a DocBook to AsciiDoc migration section would be extremely useful. It would be a good place to centralize all these recommendations that we've been spouting off in issue comments. We could also mention [DocBookRx](https://github.com/opendevise/docbookrx), the prescription for your DocBook condition :) (soon to be part of the Asciidoctor organization as soon as we get it release ready)

[2016-01-03 03:18] jaredmorgs commented on #464
I'd agree. Should I just comment it out?

On Sun, 3 Jan 2016 at 10:48 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-03 03:19] jaredmorgs commented on #463
So comment it out or completely expunge it from the guide, Dan?

On Sun, 3 Jan 2016 at 10:50 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-03 03:21] jaredmorgs commented on #447
Great idea. I know that when I was working at Red Hat, the challenge of
migrating out and keeping the Asciidoctor constructs the same as the
DocBook was something that many folks were confused about.

Having DocBookRx is also something that definitely needs to keep maturing.
I'd like to see folks that are using DocBook regularly to somehow have an
easy path to contribute fixes or mappings to this

[2016-01-03 07:08] mojavelinux commented on #463
Expunge.

Keep in mind that a lot of this sections that are pending were just proposed in a rough outline. It's not unlikely that we will decide that some don't belong, like this one.

[2016-01-03 07:08] mojavelinux commented on #464
Purge.

[2016-01-05 09:32] jaredmorgs commented on #463
PR submitted.

On Sun, 3 Jan 2016 at 17:08 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-05 09:39] jaredmorgs commented on #464
PR sent.

On Sun, 3 Jan 2016 at 17:08 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-05 09:51] mojavelinux commented on #463
Thanks! Merged!

[2016-01-05 09:53] mojavelinux commented on #464
Thanks! Merged!

[2016-01-05 09:53] #464 closed

[2016-01-05 09:54] #463 closed

[2016-01-05 10:03] jaredmorgs commented on #450
PR filed. :D

Pumping through a few tonight to get momentum.

On Sun, 3 Jan 2016 at 10:47 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-05 10:06] jaredmorgs commented on #453
Hot off the press for BitBucket Server installations today, is Asciidoctor
support
https://marketplace.atlassian.com/plugins/org.christiangalsterer.bitbucket.server.bitbucket-asciidoc-plugin/server/overview

This is a 3rd party plug-in that is not compatible with bitbucket.org
(Cloud). Only self-hosted server instances can be used at this stage.

There is another plugin under development, but not

[2016-01-05 11:39] mojavelinux commented on #450
:fire: the midnight oil! :+1:

[2016-01-07 15:02] davidfavor opened #472 "Document how to specify Apache DocumentRoot relative stylesheet paths"
Maybe I'm missing something simple. If there's a way to easily do the following let me know.

There seems to be no incantation to specify external .css file(s) common across an entire website.

The behavior of asciidoctor seems to either error out for incorrect file paths or to copy .css files, so there might be 100s of duplicated files across a large static site.

Neither of these approaches work

[2016-01-07 23:20] mojavelinux commented on #472
The behavior you are looking for is activated using the following three attributes:

* stylesheet - to specify the path to the stylesheet
* linkcss - to specify you want to link to rather than embed the stylesheet
* copycss! - to specify you don't want Asciidoctor to attempt to copy the stylesheet

Therefore, you'd pass the following flag:

[code]

If you want to include more than one stylesheet,

[2016-01-07 23:23] mojavelinux commented on #472
Of course, you can also used docinfo to specify stylesheets instead of using the stylesheet attribute.

[code]

Your document-docinfo.html file would look like:

[code]

[2016-01-07 23:23] mojavelinux commented on #472
Btw, nice to hear from you again, @davidfavor!

[2016-01-07 23:27] mojavelinux commented on #472
@jaredmorgs I think this needs to be a new section under http://asciidoctor.org/docs/user-manual/#html. Perhaps "Applying custom stylesheets".

There is a section about applying a custom stylesheet in the stylesheet factory section, but perhaps that can refer back to this new section. This task is independent of whether you are using the stylesheet factory or not. The bottom line is, we have ways

[2016-01-07 23:27] mojavelinux commented on #472
And of course the tip about using `@import` in a master CSS file is an important one that is not currently covered.

[2016-01-07 23:42] mojavelinux commented on #444
We should probably mention the allowed characters for attributes (or perhaps that needs a dedicated section). The answer is that an attribute:

* must be at least one character
* the first character must be a word character (A-Z, a-z, 0-9 and _); basic latin letters only
* it can have any number of word or hyphen characters following the first character

[2016-01-10 06:57] mojavelinux commented on #270
User guides for cyclops by AOL:

* https://github.com/aol/cyclops/blob/master/user-guide/lambdas.adoc
* https://github.com/aol/cyclops/blob/master/user-guide/streams.adoc

[2016-01-10 16:00] timofonic commented on #34
Any news? :D

[2016-01-11 00:28] jaredmorgs opened #475 "Favicon not showing for Chrome Tabs"
![Docs Site Pinned With No Favicon](https://cloud.githubusercontent.com/assets/952793/12225091/dfd9093c-b84d-11e5-8797-fd41f314dda2.png)

Would it be possible to add a Favicon to the asciidoctor.org site so when you pin tabs you get an idea about what each tab has. Just the Asciidoctor icon would be great for now (I know it is a candidate for re-design).

[2016-01-11 00:33] mojavelinux commented on #475
I haven't put it in there because I don't really want to propagate the proposal as a sanctioned icon. We really need to resolve that issue so that we do have one, and one to which we have rights. So the focus should be on solving the design issue. At this point, I'm open to contracting out the work or facilitating a competition.

[2016-01-11 01:05] jaredmorgs commented on #475
Sound good to me. Getting an identity for Asciidoctor is a big step in
being able to promote it consistenty.

Also, I want a Asciidoctor shirt. ;)

On Mon, 11 Jan 2016 at 10:33 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-11 01:07] jaredmorgs commented on #475
And on the subject of outsourcing vs competition, I'd go with competition
first.

Getting community involved seems like a great fit. I know asking graphic
designers to design a "free" logo is often met with resistance, but a
competition could be a great way of offering some value to the work.

On Mon, 11 Jan 2016 at 11:05 Jared Morgan <jaredleonmorgan@gmail.com> wrote:

--

Sent from Mobile.

[2016-01-11 11:27] mojavelinux commented on #435
Here's some more good raw material on the subject:

https://github.com/graphitefriction/oscon-2013-docs-workshop/blob/master/convert-markdown-to-asciidoc.adoc

[2016-01-11 11:28] mojavelinux commented on #462
Here's some high level conversion mapping:

https://github.com/graphitefriction/oscon-2013-docs-workshop/blob/master/convert-markdown-to-asciidoc.adoc

[2016-01-12 19:43] cemerick commented on #351
I'm afraid I've not been able to get a proper colophon outputted at all. This is sort of the endpoint of my experimentations:

[code]

(`{nbsp}` because I don't want a section header for the colophon.) That section's content continues to be numbered, and placed before the table of contents (even if I use a `toc:[]` macro placed explicitly after the colophon section).

Any ideas?

[2016-01-13 21:44] mojavelinux commented on #351
This is not well documented. The best I can do right now is give you an example:

[code]

The colophon should not get numbered. Whether it shows up in the table of contents depends on the converter you are using. It will be included in the table of contents when using the html5 and pdf backends, but not when using a2x --fop or fopub.

[2016-01-13 21:45] mojavelinux commented on #351
@plaindocs the colophon examples in the user manual that are not marked `[colophon]` are using the term "colophon" in the general sense (as a way of describing the example content, not the structural role of the section).

[2016-01-13 21:55] cemerick commented on #351
Ech, two goofs in my comment/question:

1. I should have mentioned that (at least right now) I'm only outputting to PDF (via asciidoctor-pdf at the moment, though that may not last)
2. I'm actually expecting the colophon to come _before_ the ToC, not after (as it is currently). See page 3 in the PDF here, for example: http://cdn.oreilly.com/oreilly/booksamplers/9781449394707_sampler.pdf

Said diff

[2016-01-13 21:58] mojavelinux commented on #351
Asciidoctor PDF currently does not allow the TOC to be moved. That's an open issue. See https://github.com/asciidoctor/asciidoctor-pdf/issues/233.

[2016-01-14 05:31] plaindocs commented on #351
"@plaindocs the colophon examples in the user manual that are not marked [colophon] are using the term "colophon" in the general sense (as a way of describing the example content, not the structural role of the section)."

hahaha, confusing much. I'll *try* to find time to update that section of the docs. Don't hold your breath though.

[2016-01-15 17:42] wolandscat commented on #383
Would be good if this was added to the user manual - I just spent 20 mins tracking this feature down ;-)

[2016-01-15 22:17] mojavelinux commented on #383
@jaredmorgs If you're looking for a priority doc fix to tackle, this would be a good one.

(In general, when you see an issue labeled [next](https://github.com/asciidoctor/asciidoctor.org/labels/next), that's usually something that's sorely needed but not to difficult to address. I suppose you could read it as "might as well do next").

[2016-01-16 07:34] jaredmorgs commented on #383
Roger that. Now I've got my website sorted I can do some PR work.

Next = low hanging fruit.

On Sat, 16 Jan 2016, 08:17 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-16 07:44] mojavelinux commented on #383
\o/

If you have any questions, just fire away.

[2016-01-16 08:43] mojavelinux opened #476 "Document SVG embedding options for HTML5 converter"
Document the SVG embedding options for the HTML5 converter.
- _no option_ (default)
- interactive
- inline

Note that when using inline, there are several requirements that must be met in order for the SVG to work properly when included inside an HTML5 document.
- the primary SVG elements (e.g., `<svg>`) cannot have a namespace
- ideally the SVG should be optimized to minimize the content being pu

[2016-01-16 10:29] jaredmorgs commented on #383
Some of this was already in the guide commented out. For the stuff that wasn't I added extra detail.

[2016-01-16 10:34] jaredmorgs commented on #283
Claimed. (Can't assign to myself).

[2016-01-16 12:12] jaredmorgs commented on #283
OK. This is a start. See PR. Looking for fact checking before we talk about including the examples in an included file. ;)

[2016-01-17 01:47] elextr commented on #434
I think you are doing asciidoctor a disservice with this section, it is not competing with asciidoc, it does not need to be compared with it, there is a detailed annex for those who need to know the specifics for porting documents.

Just acknowledge Asciidoc Python as the initial implementation that compatibility mode matches and thats all that is necessary.

[2016-01-17 02:03] mojavelinux commented on #434
I agree with @elextr. AsciiDoc is the language, Asciidoctor is the processor (just as AsciiDoc Python is a processor).

This section made it's way into the document from an early outline, but I don't think there's a need for it. The correct place for any content discussing the differences between Asciidoctor and AsciiDoc is the compatibility section (Appendix A, http://asciidoctor.org/docs/user-ma

[2016-01-17 08:36] jaredmorgs commented on #434
Feel free to do a PR to delete this section, @elextr

Unless I beat you to it. 😉

On Sun, 17 Jan 2016, 12:03 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-17 21:58] mojavelinux commented on #383
Thanks!

[2016-01-17 22:45] mojavelinux commented on #283
Thanks @jaredmorgs!

It's probably worth explaining the expression used in the `ifeval` directive in some detail since it can be a bit difficult to understand and differs from the AsciiDoc Python implementation.

---

I'd start by saying that the expression is not evaluated by the language interpreter (which may allay concerns of it being an attack vector). Rather, the expression is evaluated usin

[2016-01-17 23:24] jaredmorgs commented on #283
This is fantastic detail. I'll work on incorporating all this over the next few days. This Conditionals topic is going to be rock solid and detailed.

[2016-01-17 23:39] mojavelinux commented on #283
:cake: & :ice_cream: !

I'd probably point out two additional facts. First, you can use multiple attribute references in a single value.

[code]

Second, when using attribute references, we strongly recommended that you enclose the value in quotes (because you are usually dealing with a string and you want it to remain that way).

[2016-01-18 11:35] jaredmorgs commented on #383
Apart from the PR merge hell I just endured for 15 minutes, I think the feedback you gave is incorporated and ready to check again.

[2016-01-18 22:58] mojavelinux opened #479 "Explain where hidden index entries should be placed"
Hidden index entries should be directly adjacent to the paragraph content to which they apply. If they are offset by a blank line, they will cause a blank paragraph to be created, thus leaving empty space in the generated output.

Bad:

[code]

Good

[code]

[2016-01-19 06:44] #383 closed

[2016-01-19 06:53] mojavelinux commented on #383
Merged!

[2016-01-22 01:15] jaredmorgs commented on #283
I think we're getting close to "done" with this issue. I've incorporated all feedback to date.

[2016-01-22 07:28] rockyallen opened #480 "Creating a dedicated table in the user guide for intrinsic attributes"
Add an extra table in Appendix B so that eventually all available attributes can be found there. I would also suggest renaming Appendix B to "Predefined Attributes" to make this clear.

[2016-01-22 07:35] rockyallen opened #481 "Create a dedicated table in the user guide to document available document-level attributes"
Add an extra table in Appendix B so that eventually all available attributes can be found there.See also #480

[2016-01-22 07:36] rockyallen commented on #480
See also #481

[2016-01-22 07:52] rockyallen commented on #434
Can I disagree please? If you want the user manual to be the ultimate source of Asciidoctor information, I think you need to address compatibility in it. And if you just delete this section, it leaves Appendix A orphaned. However I agree with @mojavelinux  in http://discuss.asciidoctor.org/Improve-documentation-for-converting-from-Asciidoc-Python-td4216.html that the manual should be focussed on A

[2016-01-22 09:43] jaredmorgs commented on #432
This issue is complete.

[2016-01-22 09:43] #432 closed

[2016-01-22 09:48] jaredmorgs commented on #6
I'm going through the backlog to try and get a sense of "next actions" in this repo.

How relevant is this post given the other SSGs like the Jekyll Asciidoc Quickstart, or HubPress?

[2016-01-22 09:55] jaredmorgs commented on #34
This issue has been open for about three years now. I wonder what we need to do to wrap up this issue.

Perhaps we need to take what we have and look at incorporating it into the #435 issue.

[2016-01-22 10:05] jaredmorgs commented on #43
Looks like @graphitefriction's work on this was the genesis of the Asciidoctor User Guide!

Next question is how would we correlate the full list of attributes available and start a running table of them?

I would say it might be time to trawl the code and highlight which files contain the full set of attributes.

If we can get a full list, then trawl the docs code for long-form explanations, this

[2016-01-22 10:07] rockyallen commented on #434
Oops - I should have checked out master before speaking. I see there is now a migrating from asciidoc section, but I still think it would all be better moved into the guide.

[2016-01-22 10:25] jaredmorgs commented on #48
Some related issues:

* #450 is for Guard/LiveReload plugins discussion.
* DoctorFX is mentioned in [this google plus post](https://plus.google.com/114112334290393746697/posts/jb8WaxCT55V) and is hosted [here](https://github.com/glaforge/doctorpad) is not updated since 2013.
* [Redoculous](http://www.ocpsoft.org/redoculous/) is still up, but no idea of source code location.
* Gedit (there's a live

[2016-01-22 10:26] jaredmorgs commented on #61
Any next actions that we can record here to get momentum happening again @graphitefriction ?

[2016-01-22 10:31] jaredmorgs commented on #64
So has the inline parser improved to better handle constrained quotes?

I don't see any mention of the concept of constrained or unconstrained quotes in http://asciidoctor.org/docs/user-manual/#quotes so I feel this should make it's way into a PR for action by someone.

[2016-01-22 10:33] jaredmorgs commented on #68
HupPress (https://hubpress.io) :smile:
AsciiDocFX (https://asciidocfx.com) :+1:

Where should this be created/displayed?

[2016-01-22 10:35] jaredmorgs commented on #72
Do you feel it still is too complex, @mojavelinux ?

If so, we should collaborate on a fix.

[2016-01-22 10:42] jaredmorgs commented on #77
The actual action item from the discuss thread is http://discuss.asciidoctor.org/Including-Vimeo-videos-in-a-document-tp492p519.html

This is pretty old now, so I wonder if we can close it off.

[2016-01-22 10:47] jaredmorgs commented on #78
I'm sure this has been done but just hasn't been closed off @mojavelinux .

[2016-01-22 11:18] jaredmorgs commented on #79
http://asciidoctor.org/docs/user-manual/#video is where this content should go. It is currently not mentioned explicitly, so this guidance needs to be added.

[2016-01-22 11:22] jaredmorgs commented on #81
The key ones are Atom and AsciidocFX.

Any other ones that spring to mind that we should mention?

Mention them in some sort of quickstart or in the front part of the Users Guide?

[2016-01-22 11:32] jaredmorgs commented on #85
Next action:

* create new section in https://github.com/asciidoctor/asciidoctor.org/blob/ed5e4f38159872c1dbfe2a42d8a0aef5a2d7cfb5/docs/user-manual.adoc#conversions-and-migrations.
* add link to page.
* describe what the script does in summary.

Should we also link to the Markdown to Asciidoctor script you created as well in this section @mojavelinux ?

Anything else that deserves mention here?

[2016-01-22 11:37] jaredmorgs commented on #108
This would first require a community member to:

Design a cool logo for the project,
Design a cool 404 graphic.

Would be cool to have though. Probably a low-priority for now.

[2016-01-22 11:40] jaredmorgs commented on #125
This has been documented at http://asciidoctor.org/docs/user-manual/#running-asciidoctor-securely and can be safely closed.

[2016-01-22 11:55] jaredmorgs commented on #130
Sounds cool. How would you do this?

[2016-01-22 12:07] jaredmorgs commented on #156
http://asciidoctor.org/docs/user-manual/#blocks suggest this is still an open issue requiring work.

[2016-01-22 12:26] jaredmorgs commented on #397
This is cool stuff!

Wireframe two attracts me because I love the Ecosystem block. It's a great launchpad to learn more about all the cool things Asciidoctor.

I really like the simplicity of the top nav as well. Just three things. Simple. Having the Discuss tab front-and-center is a big win. I wasn't fully aware of the
Discuss area until @mojavelinux directed me to a post about six months into la

[2016-01-22 12:46] jaredmorgs commented on #158
This is an easy fix.

Add links to each item in http://asciidoctor.org/docs/user-manual/#selecting-an-output-format to all the sub-sections.

Working out what extra info to provide on each item may be a little bit more challenging, but even if we link first and worry about content later, that will be a good easy-win improvement.

[2016-01-23 09:14] jaredmorgs commented on #159
The post where action is identified is here: http://discuss.asciidoctor.org/Output-single-adoc-file-from-includes-tp808p1157.html

@mojavelinux suggested that a new attribute `:preprocess_only => true` could be a good addition to do away with all this in the API for users:

[source,ruby]
--
require 'asciidoctor'

source_file = ARGV[0]
if !source_file
  warn 'You must provide a source file'
  exit

[2016-01-23 09:25] jaredmorgs commented on #160
Good detail to convert into a docs addition.

There is mention of :encoding: in http://asciidoctor.org/docs/user-manual/#asciidoctor-vs-asciidoc but that is the only mention of this attribute.

Looking at the methods guide, this attribute is described in the Headers area. Any comment about not putting a section into this area?

What advantages would there be to setting encoding other than UTF-8?

[2016-01-23 09:27] jaredmorgs commented on #161
I feel this one can be closed and linked to #443. I'll add the reference to Macros into #443 so the source info is tracked.

[2016-01-23 09:29] jaredmorgs commented on #443
In #161 the link http://en.wikipedia.org/wiki/Macro_(computer_science) was cited as a good thing to include. I've suggested that this issue be closed and development continue in this tracker bug.

[2016-01-23 09:34] jaredmorgs commented on #167
This goes into the http://asciidoctor.org/docs/user-manual/#extensions section as a new sub-section

At the end of this section, there is reference to https://github.com/asciidoctor/asciidoctor-extensions-lab

I wonder if the example extension should be added there instead of the guide? Or should we really be documenting the "best" example out of each extension lab group and then directing users t

[2016-01-23 09:36] jaredmorgs commented on #171
@mojavelinux please assign this issue to me.

[2016-01-23 09:51] jaredmorgs commented on #216
This is pretty old now. Has it been done @mojavelinux ?

[2016-01-23 09:52] jaredmorgs commented on #198
There doesn't seem to be any suggested guidance on how to do this so I guess I'll set a NEEDINFO on this one @mojavelinux . Perhaps Bespoke.js will supercede this? :wink:

[2016-01-23 09:55] jaredmorgs commented on #204
Is there anywhere in the code that captures the known error types that we could mine as a first draft, @mojavelinux ?

Ideally, it would be great to include the "how to address" the message in the log message itself. I know space can sometimes be at a premium and not all log messages are static text.

[2016-01-23 10:04] jaredmorgs commented on #218
I have seen the work to date in #304 but it seems like the effort ran out of steam. The last thing I read was about the Nabble to Discourse migrator script.

[2016-01-23 10:09] jaredmorgs commented on #236
https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/what-is-asciidoctor.adoc is the source file in question.

Questions:

* Should we refer to #270 here and close off this issue?
* Should we give props to all awesome Asciidoctor docs implementations in one place for maintainability?

[2016-01-23 10:10] jaredmorgs commented on #269
Where should this content go @graphitefriction @mojavelinux ?

Particularly given you guys are looking at redesigning the site.

[2016-01-23 10:17] jaredmorgs commented on #270
So we don't want to put these into the User Guide as a reference point, right? These links will be curated and managed on the website?

[2016-01-23 10:31] jaredmorgs commented on #271
Which file needs to be edited with these links added. Is it this file: https://github.com/asciidoctor/asciidoctor.org/blob/master/docs/index.adoc

[2016-01-23 10:34] jaredmorgs commented on #293
So categories would include:

* Editors
* Static Site Generators (SSGs)
* Build Systems
* Templating

Is there anything else that needs to be called out, or anything incorrectly suggested as a grouping in the list above?

[2016-01-23 10:35] jaredmorgs commented on #307
I think this might already be captured in http://asciidoctor.org/docs/user-manual/#delimiter-lines

[2016-01-23 10:38] jaredmorgs commented on #311
mrhaki's post could definitely be reversed engineered to include what you need. I'm no expert with gradle, so I'll leave this for another contributor to dive into.

[2016-01-23 10:40] jaredmorgs commented on #323
All the info is definitely clearly documented in the linked issue. But where should it go in the User Guide?

[2016-01-23 10:46] jaredmorgs commented on #324
@mojavelinux said:

http://asciidoctor.org/docs/user-manual/#preprocessor-example is where the extra little bit of info about the `-r` flag should go, right? Or should it be applied at the chapter level as a general piece of guidance?

[2016-01-23 10:46] jaredmorgs commented on #328
:+1:

[2016-01-24 09:29] jaredmorgs commented on #342
Perhaps if we link to the http://asciidoctor.org/docs/user-manual/#xref section in the tables introduction, it might act as a memory jogger for those who are jumping to this section in the guide for the first time.

(Tables are, by far, the hardest part of Asciidoctor and I'd suggest they might be up there in page hit ranks.).

[2016-01-24 09:33] jaredmorgs commented on #344
http://asciidoctor.org/docs/user-manual/#api is the correct place for this, or should we also introduce the concept of attribute API access all the way back in http://asciidoctor.org/docs/user-manual/#attributes

[2016-01-24 09:43] jaredmorgs commented on #350
Hah, I didn't actually know you could do this with Labeled Lists (what I refer to as varlists from my XML days).

I wonder if we could put an explanation about the three-colon after the example in http://asciidoctor.org/docs/user-manual/#labeled-list (A hybrid list) as the closing point? Or perhaps it needs to go up towards the top of this section so readers see it is possible first.

Labeled List

[2016-01-24 09:48] jaredmorgs commented on #361
OK, so decision time:

* do we document the attributes and put a caveat on them saying that they may change?
* do we continue to leave them out of the manual and introduce them when their nomenclature has been decided upon by resolving the issue above?

[2016-01-24 09:49] jaredmorgs commented on #364
Any action taken on this @Mogztter or @mojavelinux ?

(just cleaning up the older tickets in the project from a docs standpoint)

[2016-01-24 09:56] jaredmorgs commented on #366
We started discussing this in 2015. Let's make 2016 the year the Asciidoctor site gets refactored.

What are some further next actions we need to take to keep this marching forward?

[2016-01-24 09:59] jaredmorgs commented on #369
Is there a way of finding out which attributes must be header attributes. Some references in the code?

I know from first hand experience that knowing which attributes must be applied in the header are a bit of black magic.

(basically anything except :sectnums: right)?

[2016-01-24 10:10] jaredmorgs commented on #371
I wonder if we should move http://asciidoctor.org/docs/migration/#migration-scenarios into the User Guide near those sections that describe monospace (http://asciidoctor.org/docs/user-manual/#mono)

Another questions is where is inline code using backticks explicitly described in the User Guide?

[2016-01-24 10:12] jaredmorgs commented on #379
@mojavelinux what does this attribute do?

[2016-01-24 10:13] jaredmorgs commented on #381
We need an Easy-Fix label for a lot of these docs issues, @mojavelinux

It would be good for new contributors to get them hooked.

[2016-01-24 10:15] jaredmorgs commented on #382
Are these options only applicable to the Asciidoctor.convert content scope?

[2016-01-24 10:21] jaredmorgs commented on #386
Are we yet comfortable recommending these tools. I think adoption may be hindered by it: no reliable migration strategy. Particularly from Markdown to AsciiDoc which I would think would be the easiest path to migration.

Stuff like converting Markdown HTML table code into AsciiDoc markup would be a huge demonstration of  the power of this mark-up.

[2016-01-24 10:28] jaredmorgs commented on #387
http://asciidoctor.org/docs/user-manual/#attributes-2 seems like a good section for this. I know this came up recently for me, so it is one I want to hit sooner.

In fact, assign this one to me @mojavelinux. I'll just get it done (already created an issue branch in my fork).

[2016-01-24 10:30] jaredmorgs commented on #394
Close, @mojavelinux ?

[2016-01-24 10:35] jaredmorgs commented on #400
This issue is kind of partially done with my PR, except for PDF theming. I would imagine that PDF theming is going to be done as part of the larger asciidoctor-pdf work, so is this issue a candidate for closure @mojavelinux ?

[2016-01-24 10:52] mojavelinux commented on #394
I think this is covered by https://github.com/asciidoctor/asciidoctor/issues/1077, so I think we should close the issue here.

[2016-01-24 17:44] wolandscat commented on #400
FWIW I think making it separate is reasonable.

[2016-01-24 18:44] rockyallen commented on #480
Can you confirm my interpretation of "instrinsic attribute" please:
User manual, section 12.2 "... A number of attributes and values are automatically used when the Asciidoctor processor renders a document. These attributes are called intrinsic attributes. For example, you do not need to set the normal attribute on a basic paragraph because it is set by an intrinsic attribute. But when you want a

[2016-01-25 19:55] mojavelinux commented on #432
Excellent! Nice work.

[2016-01-25 19:56] mojavelinux commented on #108
Extremely low priority given all the critical issues we have outstanding. I'll mark it for future.

[2016-01-25 23:49] mojavelinux commented on #6
I still think this is relevant, but now I'm more inclined to write about Middleman than Awestruct. Having said that, the issue did predate JAQ and HubPress, so perhaps now it could help inform the structure of the documentation for those projects. I think the requirements here are still relevant for what a writer needs to know to master blogging with AsciiDoc. Let's label it as future.

[2016-01-25 23:52] mojavelinux commented on #34
This issue and #435 are basically the same issue. This issue has actually served as a useful landing page in the interim for consolidating the discussions pertaining to the differences. The next step is to summarize that information.

Given the popularity of Markdown and, therefore, the likeliness someone is migrating from it, I'd say this is an important section / resource.

[2016-01-25 23:55] mojavelinux commented on #43
Indeed it was. The lack of a consolidated list of attributes was the driving motivation for writing the Asciidoctor User Manual.

I'd argue that the user manual now covers most of the attributes and that we should follow-up with more specific issues about what to do with that information now that it's in the user manual. The issue we face is that the current table has the wrong focus and scope. It

[2016-01-26 00:10] mojavelinux commented on #48
We should drop mention of DoctorFX in favor of AsciidocFX.

The source for redoculous is here: https://github.com/ocpsoft/redoculous

Gedit does not have a live preview. Frankly I think there are better options because it's super difficult to get updated. Maybe just a footnote worth of mention.

I'm not big on shouting out Sublime because it is proprietary software. We can mention the plugin, of c

[2016-01-26 00:17] mojavelinux commented on #64
We have to move forward documenting how it works today. That should help inform the design for the future since the current behavior will be well specified.

What we are looking for in this issue is a clearer meaning for the terms "constrained" and "unconstrained". It's a bit more complex than it seems on the surface (due to edge cases) and one of the reasons people come looking for information in

[2016-01-26 00:19] mojavelinux commented on #68
I think this issue is being confused between uses of AsciiDoc/Asciidoctor and tools for Asciidoctor. They should be separate. Some of the entries here are actually relevant for the Who's Using Asciidoctor page. (see #270).

[2016-01-26 00:20] mojavelinux commented on #270
Migrating entries from #68.

* DocGist (https://github.com/nawroth/docgist)
* GraphGist (https://github.com/neo4j-contrib/graphgist)
* Gerrit (https://gerrit.googlesource.com/gerrit/+/master/Documentation/)
* CRaSH (https://github.com/crashub/crash/tree/master/doc)
* RichFaces (https://github.com/richfaces/richfaces-docs)
* Thucydides (https://github.com/thucydides-webtests/thucydides/blob/master/

[2016-01-26 00:27] mojavelinux commented on #68
I think what we want this page to be is a teaser with links to pages that focus on each aspect (usage, integration, etc). The point is, Asciidoctor is being used in a lot of places in a lot of different ways and we want to showcase that as a way to promote its success and instill confidence in people who are exploring it.

But I still say that we need to get to the question that this page is tryin

[2016-01-26 00:28] mojavelinux commented on #72
Yes, I still think we need something simpler. We should focus on a scope. Something like "the first 5 to 10 minutes with AsciiDoc" or "AsciiDoc essentials" or "most common AsciiDoc you need to know".

[2016-01-26 00:30] mojavelinux commented on #77
I would like all attention to be focused on either Bespoke (preferred) or Reveal. I am now actively discouraging people from using Deck because it is too outdated.

[2016-01-26 00:31] mojavelinux commented on #78
Not yet. This is all part of https://github.com/asciidoctor/asciidoctor-stylesheet-factory/issues/18. One snowy day I need to bite the bullet and get that done because a lot of things depend on it.

[2016-01-26 00:33] mojavelinux commented on #79
Support for video formats depends on the browser and the year. The best strategy here is to link to a resource that maintains and updates such information. MDN comes to mind. https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

[2016-01-26 01:02] mojavelinux commented on #159
There's actually a script for this in the extensions lab. See https://github.com/asciidoctor/asciidoctor-extensions-lab/blob/master/scripts/asciidoc-coalescer.rb. It's not perfect, but it gets you most of the way there.

[2016-01-26 01:03] mojavelinux commented on #160
We've changed are stance on this. We only accept UTF-8 (or UTF-16) now because it's just not reasonable in a globalize world to work any other way. So I think we should just kill this issue.

[2016-01-26 01:05] mojavelinux commented on #443
I like that explanation. To a programmer audience, I tend to describe them as functions. Perhaps they are macros with a function-like syntax?

[2016-01-26 01:28] mojavelinux commented on #216
PR sent!

I decided to use our own copy of the script so we have maximum control over it.

[2016-01-26 01:43] mojavelinux commented on #216
Resolved by https://github.com/asciidoctor/asciidoctor.org/commit/338a7c85c99063bab3c99af8b203a6d0e981a398.

[2016-01-26 01:43] #216 closed

[2016-01-26 01:43] #161 closed

[2016-01-26 01:49] mojavelinux commented on #198
Bespoke definitely supersedes this. Bespoke should be our focus as it is the present and future. (Reveal to a lesser degree only due to its popularity and more mature converter).

[2016-01-26 01:50] mojavelinux commented on #218
We don't really get that many comments on the blog, so I honestly don't think this is worth the investment (even if/when we do switch to Discourse for the discussion list).

[2016-01-26 01:50] #218 closed

[2016-01-26 01:51] mojavelinux commented on #270
Yes, I think this will be a dedicated page. And certainly one that needs to be more organized than this comment thread :wink:

[2016-01-26 02:06] mojavelinux commented on #167
Exactly. I like that strategy. And we can even use a remote include to pull in the source code from the extension lab so that we don't duplicate it. However, we will want to document that in the source file so that someone editing it knows it is being used. We could also link to a specific version of the file.

[2016-01-26 02:11] mojavelinux commented on #167
The user manual does have a block processor example. See http://asciidoctor.org/docs/user-manual/#block-macro-processor-example. However, it doesn't explain how to insert a new block and specify which substitutions should be applied. So the focus should be on creating new AST nodes in an extension and inserting them into the tree. We should reference the API http://www.rubydoc.info/gems/asciidocto

[2016-01-26 02:15] mojavelinux commented on #204
Here's the raw (unsorted) list:

[code]

[2016-01-26 02:30] mojavelinux commented on #204
We'll probably want to pull out the most important messages and get those documented. Some of these only happen once in a blue moon.

(The lines that start with "raise" are fatal).

Here's a quick pull of the most important:

* `raise %(asciidoctor: FAILED: #{attributes['docfile'] || '<stdin>'}: Failed to load AsciiDoc document)`
  - Asciidoctor catastrophically failed in some way and failed to co

[2016-01-26 02:41] mojavelinux commented on #236
Yes and yes.

[2016-01-26 02:42] mojavelinux commented on #269
For now, let's just add it to this page. http://asciidoctor.org/docs/#references-and-developer-resources

[2016-01-26 02:49] mojavelinux commented on #81
Whenever we mention Atom, we should mention Brackets as well. The plugin for Brackets (https://github.com/asciidoctor/brackets-asciidoc-preview) gets just as much activity (maybe even more) as the plugin for Atom.

I think we should have a dedicated page for writers tools and these editors should be listed on that page.

There's also a plugin for LightTable. https://github.com/rundis/AsciiLight

[2016-01-26 02:49] mojavelinux commented on #81
DocGist is starting to come around as an editor as well.

[2016-01-26 02:50] mojavelinux commented on #81
And let's not forget the support in Eclipse (https://wiki.eclipse.org/Mylyn/WikiText/AsciiDoc) and IntelliJ IDEA (https://plugins.jetbrains.com/plugin/7391?pr=idea).

[2016-01-26 02:52] mojavelinux commented on #85
Yes, add the link to https://github.com/opendevise/kramdown-asciidoc. And we might as well add a link to DocbookRx as well https://github.com/opendevise/docbookrx. We can mention that the plugin for IntelliJ IDEA has a built-in tool for converting from Markdown to AsciiDoc.

[2016-01-26 03:18] mojavelinux commented on #350
We should definitely explain this.

We should also rename this to "description list" instead of "labeled list" as we are trying to align with semantic terms defined in the HTML5 specification. See http://html5doctor.com/the-dl-element/. In the DocBook converter, we map to one of several elements (variablelist, qandaset, glossentry).

...though keep in mind that we're exploring the idea of using th

[2016-01-26 08:48] mojavelinux commented on #125
:+1:

[2016-01-26 08:48] #125 closed

[2016-01-26 08:50] mojavelinux commented on #130
This is actually trickier than I first thought because we have to consider all include files. Asciidoctor does not yet provide this information via the API, though it is planned. See https://github.com/asciidoctor/asciidoctor/issues/1163. We'll need that (or otherwise we have to use a custom script, which may not be worth the effort).

[2016-01-26 08:51] mojavelinux commented on #130
Note that right now the footer reflects the last time the site was built, which is on every commit (even if it doesn't affect the user manual).

[2016-01-26 09:12] mojavelinux commented on #156
I agree. We at least need a basic description of a block here. Hopefully, that should be pretty straightforward.

MDN has a nice resource dedicated to this topic.

https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements

Although the mapping between AsciiDoc and HTML isn't one-to-one, the idea of block vs inline content still applies.

What we want to say about blocks are the follow

[2016-01-26 09:14] mojavelinux commented on #397
:+1: Getting people to more information faster should be the highest priority. The greatest feature of Asciidoctor is its community.

[2016-01-26 09:16] mojavelinux commented on #397
@stephenhay any thoughts you'd like to add about these wireframes regarding the new information layout for the asciidoctor.org landing page?

[2016-01-26 09:18] mojavelinux commented on #158
manpage is now a built-in converter (not an add-on).

epub3 is missing.

I'd demote deckjs here because there are many other converters worth mentioning before that one. And that should be in a dedicated section about creating presentation slides.

[2016-01-26 09:25] mojavelinux commented on #328
If we can get the user manual and syntax quick reference to build with Asciidoctor PDF, this is easy. The PDF that is currently linked from the site was generated with fopub. I'd rather not mess with that beast.

...or perhaps I should say that we should just generate the user manual and quick reference with Asciidoctor PDF and deal with any problems as they come.

Generating the PDF is as simple

[2016-01-26 09:32] mojavelinux commented on #387
The correct section is http://asciidoctor.org/docs/user-manual/#setting-attributes-on-a-document.

[2016-01-26 09:33] mojavelinux commented on #387
Note that we should only document the two forms shown in the issue description. The first example is the primary form. The second example is an edge case. (Of course, feel free to use additional examples, but stick to those two forms).

[2016-01-26 09:35] mojavelinux commented on #382
These options are only relevant when using the Asciidoctor API. They apply to both the `load` and `convert` method. They are mostly intended for use in tools (like an editor) or for document analysis.

[2016-01-26 09:48] mojavelinux commented on #323
For now, I think it should be a new section after the [Extension Points](http://asciidoctor.org/docs/user-manual/#extension-points) section titled "Document Model" (or something like that). We need to describe the AST that extensions have to work with and this is a good starting place for that information.

[2016-01-26 09:48] mojavelinux commented on #323
The following sections can then build on this information knowing it has been laid out.

[2016-01-26 09:55] mojavelinux commented on #386
An initial release of [DocbookRx](https://github.com/opendevise/docbookrx) is coming soon, markdown2asciidoc is already available in the IntelliJ IDEA plugin and [Kramdown AsciiDoc](https://github.com/opendevise/kramdown-asciidoc) is coming along pretty quickly, so I'd say it's time to start preparing to cover them. Information about how to use them is covered in the respective repositories, so we

[2016-01-26 10:26] mojavelinux commented on #364
@jaredmorgs This gets to the root of the information architecture problem we have on asciidoctor.org. Right now, we are copying README files from the component repositories to populate the site. Since it is done manually, sometimes the file gets changed after the fact on the site. That leaves us with divergent documents and a real mess.

We need to switch to using a remote include mechanism. Each

[2016-01-26 10:28] mojavelinux commented on #364
For example, we don't need the contributing, credits and all that stuff on the page on asciidoctor.org (we're just interested in the documentation).

[2016-01-26 10:38] mojavelinux commented on #364
I also want to update the page name to just "asciidoctorjs" instead of "install-and-use-asciidoctorjs". To make this change,

1. rename the file to *asciidoctorjs.adoc*
2. add a new file named *install-and-use-asciidoctorjs.redirect* and populate it with:

        ---
        interpolate: true
        ---
        #{site.base_url}/docs/asciidoctorjs/

The resulting page will be `http://asciidoctor.

[2016-01-26 10:48] jaredmorgs commented on #387
PR ready for review :D

On Tue, 26 Jan 2016 at 19:33 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 11:02] stephenhay commented on #397
tl:dr; Oh god I'm not even sure if I should post this, but I'll just go ahead and do it, so apologies in advance for the length. Basically, the above wireframes look good. That said, they follow a familiar visual pattern, and I question whether this pattern supports the content as it should. I also question whether the content choices that have been made were intentional, or rather a side-effect o

[2016-01-26 11:08] jaredmorgs commented on #77
Should we then remove reference to deck.js in the user guide, and let
people "discover" it by searching for the repo?

And perhaps update the deck.js README with the caveat that the better
technologies are now Bespoke and then Reveal?

On Tue, 26 Jan 2016 at 10:30 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 11:09] jaredmorgs commented on #79
Sounds like a good approach. I'll likely take this one once I finish
reading all the other responses from my ticket spam. :P

On Tue, 26 Jan 2016 at 10:33 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 11:10] jaredmorgs commented on #160
Agreed. Let's kill it with fire.

On Tue, 26 Jan 2016 at 11:03 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 11:12] stephenhay commented on #397
I must make perfectly clear, BTW, that I don't intend my comment above as negative in any sense, and I appreciate the work that I'm sure has gone into the wireframes! So _please_ regard my comment as an attempt to look at the wireframing process from a slightly different angle, to perhaps _add_ some thinking to the existing great thinking that's been done here.

[2016-01-26 11:18] #160 closed

[2016-01-26 11:18] mojavelinux commented on #160
Long live UTF-8!

[2016-01-26 11:19] mojavelinux commented on #79
Thanks @jaredmorgs!

[2016-01-26 11:19] mojavelinux commented on #79
Btw, I love MDN. I think we should take notes from that site and model some of our own docs on their practices. I practically live at MDN these days.

[2016-01-26 15:54] ItGumby commented on #397
imo, the Ecosystem is a great feature, but unless you already know the ecosystem, it is hard to understand the context of what is what.  If possible, can they be grouped by categories/tags?

[2016-01-26 18:44] rockyallen commented on #457
Should there be a section for Ant integration as well?

[2016-01-26 21:17] mojavelinux commented on #457
Absolutely. Can you file a separate issue?

[2016-01-26 21:31] mojavelinux commented on #77
I'd say yes (as soon as I have an alpha release of the Bespoke converter, which should happen this week). We don't want to be encouraging bad practices and I consider making a slide deck with Deck.js to be a bad practice.

We should move forward with Bespoke and Reveal. As Bespoke matures, we may even phase out Reveal, but some good work has gone into that converter and I don't want to discount th

[2016-01-26 21:34] mojavelinux commented on #77
@jaredmorgs Could you open a similar issues for Bespoke and Reveal? Then we'll close this one.

Note that the Bespoke example will be a bit different because Bespoke works as a full project, complete with a build tool (gulp). The tutorial will likely explain how to use yeoman to generate a Bespoke project and create your first slide deck (similar to https://github.com/bespokejs/bespoke#creating-a-

[2016-01-26 22:22] jaredmorgs commented on #77
Just to ensure I file the bugs as you expect @mojavelinux, you want me to
create an "upload a demo of [bespoke.js|reveal.js] slides showcasing
attributes.

I'll do this this evening.

On Wed, 27 Jan 2016 at 07:34 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 22:23] jaredmorgs commented on #457
@rockyallen ping me once you do and I'll do a quick change to the user
guide and add in the tracker issue so other folks know where to file
suggestions.

On Wed, 27 Jan 2016 at 07:17 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 22:25] mojavelinux commented on #77
Maybe not "update". Let's just say "provide" since we'll have to determine how exactly we'll do the providing.

[2016-01-26 22:25] jaredmorgs commented on #77
ACK. Will do tonight. :D

On Wed, 27 Jan 2016 at 08:25 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 23:35] mojavelinux commented on #399
I can't overemphasize how strongly I recommend RVM. When you are using Ruby for development (and otherwise in user space), you should not be interacting with the system Ruby. The system Ruby is for system things. If you are using "sudo" to install gems, you are mucking with the system Ruby and venturing into dangerous territory. This guide should make that point and make it very strongly.

[2016-01-26 23:48] mojavelinux commented on #271
I've got another one to add:

7 Ways to Hack Your Brain to Write Fluently - Devoxx BE 2015
https://www.youtube.com/watch?v=r6RXRi5pBXg

Btw, all the videos on Parleys are being moved to YouTube, so those will soon be public (if not already).

[2016-01-26 23:50] jaredmorgs commented on #271
Very cool. Will have a pile of content to link to. Would we embed videos?
Or just link to them?

On Wed, 27 Jan 2016 at 09:48 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-26 23:50] mojavelinux commented on #271
I think we should have a dedicated page for videos (presentations and interviews). We may even want a new folder for this, such as "resources" (i.e., /resources/videos).

[2016-01-26 23:51] mojavelinux commented on #271
I think we should embed the videos that we can. We can use the video macro support for YouTube and Vimeo.

[2016-01-26 23:58] mojavelinux commented on #271
Here are the YouTube links for all the videos that were on Parleys before:

Write in AsciiDoc, Publish Everywhere - Dan Allen / Maxime Gréau - Devoxx France 2015 -
https://www.youtube.com/watch?v=kyGJEVEjfAs

Discover the Zen of Writing in AsciiDoc - Dan Allen - Devoxx BE 2013 -
https://www.youtube.com/watch?v=zdtDnguuBJY

10 Useful Asciidoctor Tips - Andres Almiray - Devoxx BE 2014 -
https://www.

[2016-01-27 00:01] mojavelinux commented on #271
Btw, I aggregate my videos in the following playlist: https://www.youtube.com/playlist?list=PLA272A84DFF1011A3

[2016-01-27 00:04] mojavelinux commented on #293
I'd add Services, which includes GitHub, GitLab and others.

I'm not sure about Templating. Let's call it Template Engines.

I'd rename Build Systems to Build Tools.

Let's say "Writing Tools" instead of Editors.

So that leaves us with:

* Writing Tools / Editors / IDEs
* Site Generators
* Build Tools
* Template Engines
* Services

[2016-01-27 00:07] mojavelinux commented on #293
Note that there is AsciiDoc integration in the reference implementation for the new MVC specification. See https://github.com/spericas/ozark/blob/master/ext/asciidoc/src/main/java/org/glassfish/ozark/ext/asciidoc/AsciiDocViewEngine.java

So maybe the category should be Template and View Engines

[2016-01-27 00:08] mojavelinux commented on #307
I agree.

Maybe we should also add this to the FAQ. I think it should be part of 1. http://asciidoctor.org/docs/faq/#troubleshooting

[2016-01-27 00:09] mojavelinux commented on #311
There's now a generator for this as well. See https://github.com/asciidoctor/asciidoctor-lazybones Includes support for both Deck and Reveal.

[2016-01-27 00:11] mojavelinux commented on #324
I think the -r flag should go at the chapter level (or at the start of the examples section) since it applies to all extension examples. There is now more details about how to do this in the extensions-lab repo. See https://github.com/asciidoctor/asciidoctor-extensions-lab#using-an-extension. I'd say we could include most of that content into the user manual.

[2016-01-27 00:13] mojavelinux commented on #381
I created the same "simple-fix". Let's see how that plays. We can revise it as needed.

[2016-01-27 00:15] mojavelinux commented on #379
It allows you to set the CSS class that is applied to the table of contents in the HTML output.

However, there is one caveat at the moment. Applying your own class may inadvertently disable built-in styles that are needed to properly display the table of contents, so you should only use it if you really know what you are doing.

This is definitely one of those things that we implemented from Asci

[2016-01-27 03:24] jaredmorgs commented on #293
Template and View Engines sounds right to me.

On Wed, 27 Jan 2016 at 10:07 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 03:26] jaredmorgs commented on #323
Next Action:

- Create a new section called Extension Points.
- Put in a link to this bug like the other Discussion trackers.
- Flesh out the details later once we get a chance.

On Tue, 26 Jan 2016 at 19:48 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 03:27] mojavelinux commented on #342
I think this issue is actually orthogonal to tables. The same need arises to link to any block, whether it is a table or not. In each section that covers a block type, we might want some standard text that says:

"you can reference this type of block from other parts of the document using cross references. See xrefs."

[2016-01-27 03:27] jaredmorgs commented on #328
OK. I'll leave this one with you Dan. Using asciidoctor-pdf as part of the
Awestruct build is definitely the way to go.

Let the robots do the work.

On Tue, 26 Jan 2016 at 19:25 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 03:28] mojavelinux commented on #344
This definitely goes in the API section. Though, we could mention further down in the attributes section that attributes defined on the document can be accessed via the API with a link to that section. It would just be a "heads up" kind of thing.

[2016-01-27 03:28] mojavelinux commented on #293
:+1:

[2016-01-27 03:29] jaredmorgs commented on #130
My call would be to make it as part of the API, or just not do it.

On Tue, 26 Jan 2016 at 18:51 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 03:29] mojavelinux commented on #323
I corrected your list (changed the name of the new section)

[2016-01-27 03:29] mojavelinux commented on #323
If you give me a space to type about Document Model, I can fill in a whole bunch of details :)

[2016-01-27 03:30] jaredmorgs commented on #342
yep, I agree with this approach.

On Wed, 27 Jan 2016 at 13:27 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 03:32] jaredmorgs commented on #323
I'll create an include and let you go for broke. Will do this sometime this
week.

On Wed, 27 Jan 2016 at 13:30 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 03:33] jaredmorgs commented on #81
I've introduced a few folks to the Intellij IDEA plugin where I work.

On Tue, 26 Jan 2016 at 12:50 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 03:34] mojavelinux commented on #328
This will actually be a very important test case for Asciidoctor PDF, so it's well worth the exercise.

[2016-01-27 03:35] mojavelinux commented on #130
We'll mark this as blocked. Since it is linked to the issue in core, I'll know we are waiting on that change.

[2016-01-27 03:51] mojavelinux commented on #81
We could also mention RedPen. RedPen doesn't help with AsciiDoc directly, but it understands AsciiDoc so that it can give useful feedback about content.

https://github.com/redpen-cc/redpen

[2016-01-27 19:19] mojavelinux commented on #323
I want to add that this content is crucial, particularly for extension writers. Without this information, it can be very hard to understand the Asciidoctor document model (and generally how Asciidoctor perceives the content). So we definitely want to dedicate attention to this.

[2016-01-27 19:29] mojavelinux commented on #361
There's an open pull request to resolve this issue. However, it got stuck waiting on some modification requests.

See https://github.com/asciidoctor/asciidoctor.org/pull/415

Since we're leaning towards the syntax used for icon fonts, I think it's fine to document them now.

[2016-01-27 19:33] mojavelinux commented on #371
I'm not sure about moving the migration into the User Guide. I don't like it when User Guides spend too much time talking about what's done and gone as it just confuses newcomers. I like the idea that we have a dedicated migration page. Of course, we could link to it at strategic locations. We could mention in an admonition in the monospace section that the meaning of backticks differs from AsciiD

[2016-01-27 19:37] mojavelinux commented on #400
We have a link to the theming guide in that section, so I think that is sufficient. Since that guide is still very much in flux, I don't think it's ready to integrate into asciidoctor.org yet.

[2016-01-27 19:37] #400 closed

[2016-01-27 21:28] jaredmorgs commented on #468
About milestones and docs (from @mojavelinux )

FYI, if an issue is scheduled against the support milestone, it means that I didn't see a need for a change to the docs. Of course, you can dispute that choice, I'm just letting you know how I'm using that milestone.

[2016-01-27 21:47] jaredmorgs commented on #323
Noted. Will see if I can start it this week.

On Thu, 28 Jan 2016, 05:20 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-01-27 21:51] mojavelinux commented on #468
I think we can also get some ideas from the documentation contributors guide from Infinispan.

See http://infinispan.org/docs/8.1.x/contributing/contributing.html#_writing_documentation_and_faqs

[2016-01-27 22:30] jaredmorgs commented on #468
Also from issue #387 about writing sentence per line.

Putting a sentence per line makes it easier for someone to read code from the left margin and see each sentence. It also makes doing diff comparisons even easier than if sentences are run-on on the same line.

[2016-01-28 10:49] jaredmorgs commented on #72
Adding the label above because we are probably going to create bespoke, terse content for this quick ref, and then link off to the more verbose content in the user-guide.adoc

[2016-01-28 11:21] jaredmorgs commented on #371
Adding nodoc as this is part of the Support milestone.

[2016-01-29 21:39] mojavelinux commented on #72
I like it.

[2016-01-31 16:41] Mogztter commented on #364
@mojavelinux I think you can take the whole file. The "new" REAME gives a good overview of the project  and is short enough to be included as is.

[2016-01-31 16:53] Mogztter commented on #366
Yes!

I think we need to create a prototype (wireframe, simple web page) to see how we can organize the information: https://github.com/asciidoctor/asciidoctor.org/wiki/Docs-Information-Architecture

[2016-02-01 08:49] danielgrycman commented on #366
Are there any prototypes? Or start we at a greenfield?

[2016-02-01 22:46] mojavelinux commented on #270
Atom
documentation: https://github.com/atom/docs
site: https://atom.io/docs/latest/using-atom-writing-in-atom

Technically, the Atom docs are built with Atlas, but Atlas (presumably) uses Asciidoctor under the covers.

[2016-02-02 05:49] jaredmorgs commented on #424
This appears to be incorporated in the documentation @mojavelinux. I'm closing this off.

[2016-02-02 05:49] #424 closed

[2016-02-02 06:43] mojavelinux commented on #424
:+1:

[2016-02-02 10:24] jaredmorgs commented on #64
Totally stealing this one from you Dan.

[2016-02-02 23:35] mojavelinux commented on #64
By all means!

One way to help users tell when they need constrained vs unconstrained is to pose a litmus test sort of question. We'd say "Is there a letter, number, underscore directly outside the formatting marks (on either side), a semi-colon directly before the starting formatting mark or a space directly inside of the formatting mark?" If so, you need to switch to unconstrained (double format

[2016-02-03 01:44] jaredmorgs commented on #64
I'll add these to the PR I've logged.

On Wed, 3 Feb 2016, 09:36 Dan Allen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-02-03 11:48] jaredmorgs commented on #64
OK. PR Done.

On Wed, 3 Feb 2016 at 11:44 Jared Morgan <jaredleonmorgan@gmail.com> wrote:

--

Sent from Mobile.

[2016-02-10 22:41] mojavelinux commented on #270
Kudu
documentation: http://getkudu.io/docs/

One of several Cloudera-supported projects using Asciidoctor.

[2016-02-13 00:36] mojavelinux commented on #270
Believe it or not, the new Drupal user guide is written in AsciiDoc.

Source: http://cgit.drupalcode.org/user_guide/tree/
Site: https://www.drupal.org/project/user_guide (follow link to user guie)

[2016-02-15 10:16] jaredmorgs commented on #48
Are we talking about http://asciidoctor.org/docs/editing-asciidoc-with-live-preview/ as the target for these changes?

That part of the docs seems to be pretty comprehensive already.

I think some changes above need to be made in http://asciidoctor.org/docs/user-manual/#text-editor.

Thoughts, @mojavelinux ?

[2016-02-15 10:17] jaredmorgs commented on #64
This is ready for review @mojavelinux

[2016-02-15 11:15] jaredmorgs commented on #462
I'm moving https://github.com/opendevise/kramdown-asciidoc out of #85 into here to uncross the streams. ;)

[2016-02-15 11:16] jaredmorgs commented on #85
I'll reserve the kramdown-asciidoc fix for #462

I need to add the DocbookRx to this commit.

[2016-02-16 07:00] gunnarmorling commented on #270
[Hibernate ORM](http://hibernate.org/orm/) is using AsciiDoc for its user guide, topical guides and quickstarts: https://github.com/hibernate/hibernate-orm/tree/master/documentation/src/main/asciidoc

[2016-02-16 07:01] gunnarmorling commented on #270
[MapStruct](http://mapstruct.org/) is using AsciiDoc for its reference documentation.

Source: https://github.com/mapstruct/mapstruct/tree/master/documentation/src/main/asciidoc
Site: http://mapstruct.org/documentation/1.0/reference/html/index.html

[2016-02-16 07:31] mojavelinux commented on #48
I think docs about tools should be on a separate page (and not directly in the user manual). Therefore, I'm okay with the reference from the user manual to this page. We could certainly update the summary as it was written before many of the tools existed.

I don't particularly like the current "Editing AsciiDoc with Live Preview" document for a couple of reasons:

1. It's not a great title. We ne

[2016-02-16 07:35] #64 closed

[2016-02-16 08:07] mojavelinux commented on #462
Actually, perhaps we can take this in a slightly different direction. I think we should create a new page called "converting to AsciiDoc" (or similar) that covers tools that help you get into the Asciidoctor ecosystem. We can then have a section per use case (phrased as "from X to AsciiDoc") in which we cover one or more tools that apply to it. We can always split it out into multiple pages in the

[2016-02-16 10:38] jaredmorgs commented on #462
I think we should capture the tooling first, even if it isn't in the best
position.

Once the basic info is documented and out there helping users, we can look
at creating another page or remixing the content.

My approach with these edit-content issues is to just get the info trapped
in tickets out into a centralized place, in atomic chunks.

On Tue, Feb 16, 2016, 18:07 Dan Allen <notifications@g

[2016-02-17 00:45] mojavelinux commented on #430
We may want to consider suggesting an HTML-to-PDF as a strategy for making a PDF. First, it's possible to simply Print to PDF, which uses the print styles that are bundled with the default stylesheet.

Another option is to use a tool that automates this process, such as WeasyPrint. The following thread on the AsciiDoc Python mailinglist describes the use of WeasyPrint.

https://groups.google.com/f

[2016-02-17 22:54] rockyallen commented on #444
As a 'new folk' I definitely do get confused with attributes, possibly because *everything* seems to be an 'attribute'. I would like to have a go at clarifying it - perhaps starting by turning the introductory list in section 13 into a definition list. Is this a good issue to hang those PRs on?

[2016-02-18 07:44] jaredmorgs commented on #444
I seem to remember a few other issues that trusted to this as well,
@rockyallen. Including a few ideas about how to structure an attribute
reference.

See if you can find them in the issue tracker. A search for 'attribute'
should surface them.

On Thu, 18 Feb 2016, 08:54 rockyallen <notifications@github.com> wrote:

--

Sent from Mobile.

[2016-02-18 20:57] rockyallen opened #495 "Merge tables "Built-in entity attributes" and "Built-in literal attributes" in appendix B"
...and give the numeric value in the second column in both cases.
Reason: The user does not need to know how they are defined internally, just what to type to get a particular character. Putting them in separate tables invites the question why?
Or, if there is a functional difference it should be explained.

[2016-02-19 09:51] mojavelinux commented on #462
Sounds like a good plan.

[2016-02-19 17:44] mojavelinux commented on #270
InfoQ mini-books:

http://www.infoq.com/minibook-guidelines

The first mini-book to be published based on Asciidoctor was the JHipster Mini-Book, written by Matt Raible (who, incidentally, also setup the template for InfoQ).

http://www.infoq.com/minibooks/jhipster-mini-book

[2016-02-20 01:51] gristel opened #498 "Icons not rendering"
As you have probably already noticed, the NOTE: admonition icon does not render on the icon-intro.adoc page here.
The same problem occurs on gitbook.
Is there any way to fix this?

Thanks!

[2016-02-20 03:15] mojavelinux commented on #498
Icons do not render when viewing a AsciiDoc file directly on GitHub. Please file an issue in https://github.com/github/markup to request that support as there's nothing we can do about it otherwise. If you have an issue with gitbook, you should file it in that appropriate repository.

[2016-02-20 03:16] #498 closed

[2016-02-20 09:34] rockyallen opened #499 "Document how to use Asciidoctor with non-english languages"
The Asciidoc manual had Appendix D http://asciidoc.org/userguide.html#_using_asciidoc_with_non_english_languages for this topic, but the Asciidoctor manual doesn't seem to have anything similar. Should it be copied across (with suitable mods)? Where should it go? It seems too important for an annex, possibly a new section under "Enriching Your Content" or "Building Your Content". Should it also re

[2016-02-20 10:14] rockyallen opened #500 "Document Apache Ant build integration"
After Maven. Just reference existing readme for now.
@jaredmorgs

[2016-02-21 07:55] IbnSaeed opened #502 "Is there a Live Preview plugin for Emacs or Vim?"
Hello

Is there a Live Preview (of Asciidoc) plugin for Emacs or Vim?

[2016-02-21 08:09] #502 closed

[2016-02-23 00:36] #500 closed

[2016-02-23 06:49] mojavelinux commented on #499
I definitely support the idea of adding a section about using Asciidoctor with other languages. This topic was not yet covered because I was waiting on the completion of https://github.com/asciidoctor/asciidoctor/issues/1129. However, that's not a good reason to keep the information out of the user guide, so I think we should proceed with how it works today and adjust it once we roll out that feat